/* Ẩn nút tăng giảm trên input số khi focus */
body.active {
    overflow-y: hidden;
}

/* Style cho nội dung tab hiện tại */
.tab-content {
    display: none;
}

/* Hiển thị nội dung tab được chọn */
.active-tab {
    display: block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.qr__code > img {
    margin: 20px auto;
    max-width: 150px;
}

.get_payment {
    text-align: center;
    margin-top: 15px;
}
