$font-main: "Open Sans", sans-serif;

// @font-face {
//     font-family: "UTMASHeartbeat";
//     src:
//         local("UTMASHeartbeat"),
//         url("/assets/font/UTM\ A\ S\ Heartbeat.ttf") format("truetype");
//     font-style: normal;
// }

// $font-title: "UTMASHeartbeat", sans-serif;

// ======================== Color Main ========================
$color-main: #01cc46;
$color-title: linear-gradient(270deg, rgba(100, 204, 1, 1) 0%, rgba(1, 204, 70, 1) 50%, rgba(1, 165, 204, 1) 100%);
$color-text: #fff;
$color-all: rgba(161, 161, 170, 1);

// ======================== Back color ========================
$back-footer: #4e6579;

// ======================== Color mix ========================
