.account {
    margin: 88px 0;

    @include responsive_HD {
        margin: 44px 0;
    }

    @include responsive_mobile {
        margin: 20px 0;
    }

    &-wrapper {
        @include flexBox(top);
        justify-content: space-between;

        @include responsive_bothTM {
            justify-content: center;
        }
    }

    &-register {
        position: relative;
        align-items: stretch;

        .account-img {
            width: 50%;
            min-height: 460px;

            background-attachment: fixed;
            background-size: 25% auto;
            background-position: 32%;
            background-repeat: no-repeat;

            @include responsive_alway {
                background-size: 35% auto;
                background-position: 23%;
            }

            @include responsive_bigLow {
                background-size: 40% auto;
                background-position: 16%;
            }

            @include responsive_fit {
                background-size: 40% auto;
                background-position: 12%;
            }

            @include responsive_pcLower {
                background-size: 45% auto;
                background-position: 5%;
            }
        }
    }

    &-img {
        @include responsive_bothTM {
            display: none;
        }
    }

    &-form {
        width: 40%;
        padding: 60px 40px;
        border-radius: 20px;
        background-color: #fff;
        @extend %box-shadow;

        @include responsive_pcLower {
            width: 44%;
        }

        @include responsive_bothTM {
            width: 70%;
        }

        @include responsive_mobile {
            width: 100%;
            padding: 48px 24px;
        }

        &__title {
            font-size: 35px;
            font-weight: 500;

            @include responsive_mobile {
                font-size: 28px;
            }
        }

        &__sub {
            font-size: 24px;
            font-weight: 500;
        }

        &__desc {
            margin-top: 8px;
            color: $color-desc-light;
            font-size: 17px;

            & > p {
                font-style: italic;
            }

            & > span {
                display: block;
                font-size: 16px;
                font-weight: bold;
                color: $color-main;

                @include responsive_mobile {
                    font-size: 17px;
                    display: inline-block;
                }
            }
        }

        &__again {
            border: 0;
            display: block;
            font-size: 17px;

            margin: 40px auto 0;
            color: $color-yellow;
            background-color: transparent;
        }

        &__main {
            margin-top: 14px;
        }

        &__group {
            position: relative;

            & + & {
                margin-top: 24px;
            }

            .eye {
                width: 24px;
                height: 24px;

                &-open.is-active {
                    display: block !important;

                    & + .eye-close {
                        display: none;
                    }
                }
            }

            & + .login-form__group {
                margin-top: 14px;
            }

            .select2-selection--multiple,
            .select2-container,
            .account-form__input {
                font-size: 17px;
                font-weight: 400;
                color: $color-desc;

                width: 100% !important;
                border-radius: 7px;
                padding: 10px 32px 10px 20px;
                transition: all 0.2s;
                border: 1.4px solid rgba(112, 112, 112, 0.25);

                &:focus {
                    border-color: rgba($color-main, 0.8);
                    box-shadow: none;
                }

                &.small {
                    padding: 7px 22px 5px;
                }
            }

            .select2-container--default {
                .select2-selection--multiple,
                .select2-selection--single {
                    border: 0;
                    background-color: transparent;
                    padding: 0;
                }
            }

            .select2-container .select2-selection--single {
                height: auto;

                .select2-selection__rendered {
                    padding: 0;
                }
            }

            .select2-container--default .select2-selection--single {
                .select2-selection__rendered {
                    line-height: inherit;
                }

                .select2-selection__arrow {
                    top: 50%;
                    right: 8px;
                    transform: translateY(-50%);
                }
            }

            &.height {
                .account-form {
                    &__phone {
                        textarea {
                            min-height: 210px;
                        }
                    }
                }
            }

            &.special {
                min-width: 70%;

                .account-form__phone {
                    margin-right: 10px;

                    & > input {
                        min-width: 60%;
                        margin-right: 10px !important;
                    }
                }

                .select2 {
                    padding: 9px 22px 9px 20px;
                }
            }
        }

        &__language {
            .select2-container {
                padding: 6px 16px 4px 14px !important;
            }
        }

        &__label {
            margin-bottom: 10px;
            font-size: 15px;
            color: rgba($color-desc, 0.5);

            & > sup {
                color: red;
            }

            &.special {
                color: $color-title;
                font-size: 16px;
                font-weight: bold;
            }
        }

        &__category {
            font-weight: bold;
        }

        &__icon {
            position: absolute;
            top: 50%;
            right: 14px;
            transform: translateY(-50%);
        }

        &__status {
            .input {
                &-error,
                &-success {
                    font-size: 20px;
                    display: none;

                    &.is-active {
                        display: block;
                    }
                }

                &-error {
                    color: red;
                }

                &-success {
                    color: #34c759;
                }
            }
        }

        &__link {
            display: flex;
            justify-content: flex-end;

            font-weight: 500;
            color: rgba(0, 0, 0, 0.75);
            text-decoration: underline;
        }

        &__pills {
            border-radius: 8px;
            margin: 22px 0 30px;
            padding: 5px 6px;
            background-color: #e4e4e6;

            .nav {
                &-link {
                    width: 100%;
                    border-radius: 8px;
                    color: $color-title;
                    text-align: center;

                    &.active {
                        font-weight: bold;
                        color: $color-title;
                        background-color: #fff;
                    }
                }

                &-item {
                    flex: 1;
                    @include flexBox(both);
                    width: 50%;
                }
            }
        }

        &__btn {
            width: 100%;
            color: #fff;
            text-transform: uppercase;

            font-size: 15px;
            font-weight: 500;
            margin-top: 50px;
            padding: 12px 24px;

            border: 0;
            border-radius: 7px;
            background-image: $back-btn;

            @include responsive_HD {
                padding: 10px 24px;
            }

            &.small {
                display: flex;
                max-width: 67%;
                margin: 40px auto 0;
                justify-content: center;
            }

            &.edit {
                min-width: 260px;
                max-width: fit-content;
                margin-top: 30px;

                @include responsive_mobile {
                    max-width: 100%;
                }
            }
        }

        &__move {
            display: block;
            margin-top: 54px;
            font-size: 15px;

            text-align: center;
            font-weight: 500;
            color: $color-desc;

            & > a {
                color: $color-special;
                font-weight: bold;
                display: inline-block;
            }
        }

        &__view {
            position: relative;
        }

        &__phone {
            @include flexBox(hor);

            & > input {
                &:first-child {
                    margin-right: 14px;
                    max-width: 26%;
                }
            }

            .select2 {
                max-height: 53px;
            }

            .select2 + .account-form__input {
                margin-left: 15px;
            }

            &.special {
                font-size: 17px;
                font-weight: 400;
                color: #4e6579;
                width: 100% !important;
                border-radius: 7px;
                padding: 13px 32px 13px 20px;
                transition: all 0.2s;
                border: 1.4px solid rgba(112, 112, 112, 0.25);
            }
        }

        &__content {
            margin-top: 32px;
        }

        &__code {
            @include flexBox(both);

            & > input + input {
                margin-left: 14px;

                @include responsive_bothTM {
                    margin-left: 8px;
                }
            }

            & > input {
                width: 100%;
                line-height: 1;
                text-align: center;
                // margin: 0.1em;
                padding: 8px 0px;
                font-size: 26px;

                appearance: textfield;
                -webkit-appearance: textfield;
                border: 1.4px solid rgba($color-desc, 0.25);
                color: $color-title;
                border-radius: 5px;

                @include responsive_mobile {
                    font-size: 24px;
                }
            }
        }

        &__input {
            position: relative;

            &::placeholder {
                color: rgba($color: $color-desc, $alpha: 0.3);
            }

            &.textarea {
                min-height: 153px;

                &.special {
                    min-height: 300px;
                    margin-bottom: 30px;
                }
            }

            &.wrap {
                @include flexBox(bothSides);
                font-size: 15px;
                color: rgba($color: $color-desc, $alpha: 0.25);
                padding: 12px 20px;

                input {
                    width: 100%;
                    border: 0;
                    background-color: transparent;

                    &::placeholder {
                        color: rgba($color: $color-desc, $alpha: 0.3);
                    }
                }
            }
        }

        &__target {
            font-size: 14px;
            color: $color-yellow;
            cursor: pointer;

            @include responsive_bothTM {
                padding-top: 10px;
            }

            @include responsive_mobile {
                text-align: center;
            }

            svg {
                margin: 0 7px 3px 0;
            }

            &.special {
                margin: 20px 0 0 40px;
            }
        }

        &__check {
            margin-top: 24px;
            @include flexBox(bothSides);

            .account-care__label {
                margin-top: 3px;
            }
        }

        &__remove {
            position: absolute;
            right: 5px;
            top: 5px;
            width: 28px;
            height: 28px;

            @include flexBox(both);
            border-radius: 50%;
            cursor: pointer;
            background-color: #fbfbfb;
            box-shadow:
                rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
                rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

            &:hover {
                opacity: 0.9;
            }
        }

        &__abc {
            &.special {
                width: 70%;
                padding: 0 0 0 20px;

                @include responsive_bothTM {
                    width: 100%;
                }

                .account-form {
                    &__label {
                        font-weight: 400;
                    }
                }
            }

            .user-detail__upload {
                padding-top: 20px;
            }

            .account-form__phone + .monitor-info__student,
            .account-form__phone + .user-detail__upload {
                padding-top: 20px;
            }
        }

        &__final {
            margin-top: 30px;

            .account-care__value {
                font-weight: bold;
                font-size: 15px;

                & > strong {
                    color: $color-yellow;
                }
            }
        }
    }

    &-care {
        &__intended,
        &__category {
            margin-bottom: 12px;
        }

        &__filed + &__filed {
            margin-top: 21px;
        }

        &__category {
            font-weight: bold;
            font-size: 17px;
            display: block;
        }

        &__intended {
            position: relative;
            z-index: 1;

            color: #fff;
            display: inline-block;
            padding: 5px 35px 5px 0;
            width: 218px;

            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: -40px;
                z-index: -1;

                height: 100%;
                width: calc(100% + 40px);
                border-radius: 0 15px 15px 0;
                background-color: $color-main;

                @include responsive_mobile {
                    left: -24px;
                    width: calc(100% + 24px);
                }
            }
        }

        &__cover + &__cover {
            margin-top: 22px;
        }

        &__accordion {
            padding-left: 20px;

            .accordion {
                &-item {
                    border: 0;
                }

                &-button {
                    padding: 0;
                    background-color: transparent;
                    border: 0;
                    color: $color-title;
                    box-shadow: none;

                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.002' height='7.5' viewBox='0 0 10.002 7.5'%3E%3Cpath id='Path_6478' data-name='Path 6478' d='M11,15.5a1.433,1.433,0,0,1-1.108-.533l-3.508-4.25a1.75,1.75,0,0,1-.217-1.842A1.467,1.467,0,0,1,7.491,8h7.017a1.467,1.467,0,0,1,1.325.875,1.75,1.75,0,0,1-.217,1.842l-3.508,4.25A1.433,1.433,0,0,1,11,15.5Z' transform='translate(-5.999 -8)' fill='%2335373a'/%3E%3C/svg%3E%0A");
                        margin-right: 5px;
                        width: 12px;
                        height: 12px;
                        background-size: contain;
                        position: absolute;
                        top: 4px;
                        left: -20px;
                    }

                    &:not(.collapsed) {
                        &::after {
                            top: 1px;
                        }
                    }
                }

                &-body {
                    padding: 0;
                }
            }
        }

        &__name {
            font-size: 15px;
            font-weight: 500;
        }

        &__select {
            // margin-left: 18px;
        }

        &__option {
            @include flexBox(top);
            margin-top: 10px;
        }

        &__input {
            display: none;

            &:checked {
                & ~ .account-care__label {
                    border: 0;

                    & > svg {
                        display: block;
                    }
                }
            }
        }

        &__label {
            min-width: 20px;
            height: 20px;
            margin-top: 1px;
            margin-right: 10px;
            @include flexBox(both);

            border-radius: 50%;
            border: 1px solid rgba($color-desc, 0.25);
            transition: 0.3s all linear;

            & > svg {
                transition: 0.3s all linear;
                display: none;
            }
        }

        &__value {
            color: $color-desc;
        }
    }

    &-success {
        text-align: center;

        &__img {
            & > img {
                margin: 0 auto;
            }
        }

        &__title {
            margin-top: 16px;
            font-size: 22px;
            font-weight: bold;
        }

        &__desc {
            margin: 12px auto 0;
            width: 100%;
            color: rgba($color-desc, 0.75);

            &.special {
                width: 68%;
            }
        }
    }

    &-teacher {
        margin-top: 24px;

        &__group {
            @include flexBox(top);
            justify-content: space-between;
            margin-bottom: 30px;

            @include responsive_mobile {
                flex-direction: column;
            }

            .account-form__group {
                width: 48%;

                @include responsive_mobile {
                    width: 100%;
                }

                & + .account-form__group {
                    margin-top: 0;

                    @include responsive_mobile {
                        margin-top: 20px;
                    }
                }
            }
        }

        &__experience {
            justify-content: space-between;
            margin: 30px 0 24px;

            .account-form__group {
                width: 100%;
            }
        }

        &__id {
            width: 45%;

            &.edit {
                .account-teacher {
                    &__example {
                        min-height: 299px;

                        @include responsive_bothTM {
                            min-height: 499px;
                        }
                    }

                    &__image {
                        padding-top: 139%;
                    }
                }
            }
        }

        &__show {
            display: block;

            &.active {
                .account-teacher {
                    &__example {
                        display: none;
                    }

                    &__image {
                        display: block;
                    }
                }
            }

            & + & {
                margin-top: 20px;
            }
        }

        &__image {
            display: none;
            border-radius: 10px;
            @include imgPT(62%);
            height: 160px;
            border: 1px dashed rgba(112, 112, 112, 0.5);

            & > img {
                object-fit: contain;
            }

            &.video {
                padding-top: 0;
            }
        }

        &__file {
            display: none;
        }

        &__example {
            position: relative;
            @include flexBox(both);
            flex-direction: column;
            cursor: pointer;

            padding: 15px;
            min-height: 160px;
            border-radius: 10px;
            border: 1px dashed rgba(#707070, 0.5);

            .account-teacher__text {
                color: rgba($color: $color-desc, $alpha: 0.4);
            }

            & > svg path {
                fill: rgba($color: $color-desc, $alpha: 0.4);
            }

            &.edit {
                min-height: 50px;

                .account-teacher {
                    &__text {
                        color: rgba($color: $color-desc, $alpha: 0.4);
                    }
                }
            }

            &.gradient {
                border-radius: 10px;
                overflow: hidden;
                border: 0;

                .account-teacher__text {
                    color: #fff;
                }

                & > svg path {
                    fill: #fff;
                }

                svg,
                .account-teacher__text {
                    position: relative;
                    z-index: 2;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background: rgba($color: #18191b, $alpha: 0.5);
                    z-index: 0;
                }
            }

            &.special {
                min-height: 45px;
                height: 45px;
                flex-direction: row;

                .account-teacher__text {
                    width: fit-content;
                    margin: 0 0 0 5px;
                }
            }
        }

        &__text {
            width: 79%;
            font-size: 14px;
            line-height: 1.5;
            text-align: center;

            margin: 8px auto 0;
            font-weight: 500;
            color: rgba($color: $color-desc, $alpha: 0.25);
        }

        &__equal {
            @include gridBox(4, 12px, 12px);

            @include responsive_mobile {
                grid-template-columns: repeat(2, 1fr);
            }

            .account-teacher {
                &__id {
                    width: 100%;
                }

                &__image {
                    padding-top: 150%;
                }
            }
        }

        &__special {
            position: relative;

            & > input {
                padding: 13px 50px 13px 20px;
            }
        }

        &__cover + &__cover {
            margin-top: 35px;
        }

        &__list {
            margin-bottom: 24px;
        }

        &__item {
            margin-top: 0;
            padding: 16px 0;
        }

        &__item + &__item {
            border-top: 1px solid rgba($color-desc, 0.15);
        }

        &__icon {
            position: absolute;
            right: 14px;
            top: 50%;

            color: rgba($color-desc, 0.3);
            transform: translateY((-50%));
        }

        &__btn {
            @include flexBox(hor);
            color: $color-yellow;
            font-weight: 500;

            border: 0;
            margin: 20px 0 30px;
            background-color: transparent;

            & > svg {
                margin-right: 6px;
            }
        }
    }
}
