.chat {
    &-wrapper {
        border-radius: 14px;
        overflow: hidden;
        background-color: #fff;

        @include responsive_mobile {
            border-radius: 5px;
        }

        @include flexBox(top);
        height: 720px;

        @include responsive_fit {
            height: 600px;
        }

        @include responsive_HD {
            height: 450px;
        }

        @include responsive_bothTM {
            height: 520px;
        }
    }

    &-sidebar {
        width: 33%;
        height: 100%;

        @include responsive_mobile {
            display: none;
        }

        &__list {
            max-height: calc(100% - 125px);
            overflow-x: auto;

            &.special {
                margin-top: 30px;
            }

            &::-webkit-scrollbar {
                width: 10px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 2px grey;
                border-radius: 10px;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $color-main;
                border-radius: 7px;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: $color-main;
            }
        }

        &__header {
            padding: 25px 20px 15px;
        }

        &__title {
            font-size: 22px;
            font-weight: 500;
            margin: 0 20px 15px 0;
        }

        &__input {
            padding: 10px 20px;
            border-radius: 5px;
            width: 100%;
            border: 1px solid rgba($color: $color-desc, $alpha: 0.1);
        }

        &__item {
            padding: 15px 40px;
            @include flexBox(bothSides);
            position: relative;

            @include responsive_HD {
                padding: 10px 10px;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;

                width: 93%;
                height: 1px;
                background-color: rgba($color: $color-desc, $alpha: 0.1);
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            &.active {
                background-color: $color-main;

                .chat-sidebar {
                    &__name,
                    &__sub {
                        color: #fff;
                    }
                }
            }

            &:hover {
                background-color: rgba($color: $color-desc, $alpha: 0.1);
            }
        }

        &__info {
            @include flexBox(hor);
        }

        &__avt {
            min-width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid #fff;
            @include imgPT(0%);
        }

        &__text {
            margin-left: 10px;
        }

        &__name {
            font-size: 14px;
        }

        &__sub {
            font-size: 12px;
        }

        &__name,
        &__sub {
            color: $color-title;
        }

        &__alert {
            font-size: 12px;
            padding: 1px 7px 0px;
            border-radius: 50%;
            color: #fff;
            background-color: $color-yellow;
        }
    }

    &-detail {
        position: relative;
        width: 67%;
        padding: 0 20px;

        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
        height: 100%;

        @include responsive_mobile {
            width: 100%;
            padding: 0;
        }

        &.special {
            width: 100%;
            margin-top: -20px;
            border-radius: 0;
            height: 650px;

            .modal-chat {
                &__item {
                    margin-right: 52%;

                    @include responsive_fit {
                        margin-right: 0;
                    }

                    &.special {
                        margin-right: 0;
                        margin-left: 52%;

                        @include responsive_fit {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    &-mobile {
        display: none;

        @include responsive_mobile {
            display: block;
        }
    }
}
