.coaching {
    background-color: #eff3f7;

    &-wrapper {
        padding-bottom: 90px;

        @include responsive_table {
            padding-bottom: 70px;
        }

        @include responsive_mobile {
            padding-bottom: 30px;
        }
    }

    &-heading {
        text-align: center;
        width: 564px;
        margin: 0 auto 35px;

        @include responsive_big16 {
            margin: 0 auto 30px;
        }

        @include responsive_table {
            width: 100%;
        }

        @include responsive_mobile {
            width: 100%;
            margin: 0 auto 25px;
        }

        &__title {
            font-size: 30px;
            margin-bottom: 10px;

            @include responsive_big16 {
                font-size: 24px;
            }

            @include responsive_table {
                font-size: 22px;
            }

            @include responsive_mobile {
                font-size: 18px;
            }
        }

        &__text {
            font-size: 14px;
            opacity: 0.75;
        }
    }

    &-member {
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 24px;
        padding-bottom: 23px;
        position: relative;

        @include responsive_bothTM {
            padding-bottom: 45px;
        }

        .swiper {
            &-wrapper {
                flex-direction: initial !important;
            }

            &-slide {
                padding: 12px;

                @include responsive_bothTM {
                    padding: 8px;
                }
            }

            &-pagination {
                display: none;

                @include responsive_bothTM {
                    display: block;
                }

                &-bullet {
                    background: $color-main;
                }
            }
        }

        &__item {
            color: $color-title;
            border-radius: 14px;
            background-color: #fff;

            overflow: hidden;
            transition: all 0.3s;
            max-width: 400px;

            &:hover {
                color: $color-title;
                transform: translateY(-8px);

                box-shadow:
                    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
                    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                opacity: 1;
                transition: all 0.3s;
            }
        }

        &__bg {
            @include imgPT(46.3%);
        }

        &__people {
            text-align: center;
            margin: -50px 0 20px;
        }

        &__image {
            width: 100px;
            height: 100px;
            margin: 0 auto 5px;
            border-radius: 50%;
            border: 5px solid #eff3f7;
            @include imgPT(10%);
        }

        &__text {
            font-size: 13px;
            color: rgba(78, 101, 121, 0.75);
            min-height: 21px;

            @include responsive_mobile {
                font-size: 12px;
            }
        }

        &__content {
            margin: 0 20px 30px;
            @include flexBox(bothSides);

            &.custom {
                @include responsive_fit {
                    @include gridBox(2, 0, 0);
                }

                .coaching-member__sub {
                    &:nth-child(1) {
                        position: relative;

                        &::after {
                            position: absolute;
                            content: "";
                            right: 0;
                            top: 50%;
                            display: none;

                            width: 1.4px;
                            height: 80%;
                            transform: translateY(-50%);
                            background-color: rgba($color-desc, 0.15);

                            @include responsive_fit {
                                display: block;
                            }
                        }
                    }

                    &:nth-child(2) {
                        margin-bottom: 10px;
                        padding: 0 14px;

                        @include responsive_fit {
                            grid-column: 1/3;
                            grid-row: 1/2;
                            border: 0;
                        }
                    }
                }
            }
        }

        &__sub {
            text-align: center;

            &:nth-child(2) {
                padding: 0 20px;
                border-left: 1px solid rgba($color: $color-desc, $alpha: 0.15);
                border-right: 1px solid rgba($color: $color-desc, $alpha: 0.15);

                @include responsive_mobile {
                    padding: 0 15px;
                }
            }
        }

        &__info {
            margin-top: 5px;

            & > i {
                color: #eff3f7;
                font-size: 15px;

                &.active {
                    color: #faaf3a;
                }
            }
        }
    }

    &-seemore {
        text-align: center;
        width: fit-content;
        margin: 0 auto;

        @include responsive_bothTM {
            margin: 10px auto 0;
        }

        &__link {
            padding: 8px 40px;
            color: #fff;
            background: linear-gradient(67deg, rgba(36, 173, 193, 1) 0%, rgba(23, 149, 168, 1) 47%);
            border-radius: 7px;
            font-weight: 500;
        }

        &__link:hover {
            color: #fff;
        }
    }
}
