.intro {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        background-color: rgba($color: #020302, $alpha: 0.4);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 0;
    }

    &-wrapper {
        position: relative;
        z-index: 2;
    }

    &-text {
        &__seemore {
            padding: 0.4rem 3.25rem;

            @include responsive_bothTM {
                font-size: 1rem;
                padding: 0.1rem 1.85rem;
            }
        }

        &__ttmb {
            @include responsive_bothTM {
                font-size: 1.2rem;
                line-height: initial;
            }
        }

        &__submb {
            @include responsive_bothTM {
                font-size: 0.8rem;
                line-height: initial;
            }
        }
    }

    &-img {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -35px;
            left: 0;

            width: 100%;
            height: 70px;
            background-image: url("data:image/svg+xml,%3Csvg width='428' height='29' viewBox='0 0 428 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='218.5' cy='14.4432' rx='218.5' ry='13.8671' fill='url(%23paint0_radial_489_9935)' fill-opacity='0.64'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_489_9935' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(218.943 14.4432) rotate(91.8306) scale(13.8741 218.426)'%3E%3Cstop stop-color='%232C2C2C' stop-opacity='0.79'/%3E%3Cstop offset='0.778131' stop-color='%23000' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &-popup {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1111;

        width: 100%;
        height: 100vh;
        display: none;
        overflow: hidden !important;

        &.active {
            display: block;
        }

        &__bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.5);

            backdrop-filter: blur(2px);
            z-index: 10;
        }

        &__wrap {
            position: absolute;
            max-width: 405px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            padding: 26px 17px;
            border-radius: 28px;
            background-color: #262626;
            z-index: 20;

            @include responsive_mobile {
                max-width: 100%;
            }
        }

        &__logo {
            margin: 0 auto 23px;
            @include flexBox(both);
        }

        &__title {
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 800;
            text-align: center;
            line-height: normal;
            margin-bottom: 23px;
        }

        &__input {
            width: 275px;
            height: 44px;
            @include flexBox(both);
            border-radius: 100px;
            background-color: #111111;
            margin: 0 auto;

            padding: 0 10px;
            box-shadow: 1px 1.5px 4px 0px rgba(0, 0, 0, 0.1) inset, 1px 1.5px 4px 0px rgba(0, 0, 0, 0.08) inset, 0px -0.5px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px -0.5px 1px 0px rgba(255, 255, 255, 0.3) inset;

            & + & {
                margin-top: 15px;
            }
        }

        &__btn {
            margin: 23px auto 0;
            @include flexBox(both);
            border-radius: 100px;
            background: rgba(128, 128, 128, 0.3);

            width: 197px;
            height: 47px;
            background-blend-mode: luminosity;

            font-size: 16px;
            font-weight: 600;
            color: #fff;
            border: 1px solid rgba(255, 255, 255, 0.4);
            transition: all 0.3s;

            &:hover {
                background: var(--Linear, linear-gradient(90deg, #00d100 -0.02%, #32b4b2 99.98%));
            }
        }
    }
}

body.active {
    overflow-y: hidden;
}
