.profile {
    #sidebar-more,
    #comment-more {
        display: none;
    }

    &-sidebar {
        &__wrapper {
            padding: 37px 36px;
            background-color: #fff;
            border-radius: 14px;

            @include responsive_bothTM {
                padding: 30px 15px;
            }
        }

        &__info {
            padding-bottom: 30px;
            border-bottom: 1px solid rgba($color: $color-desc, $alpha: 0.15);
        }

        &__title {
            font-size: 18px;
            margin-bottom: 15px;
        }

        &__content {
            font-size: 14px;
            color: $color-desc;
        }

        &__seemore {
            border: 0;
            background: transparent;
            margin-top: 8px;

            & > p,
            & > span {
                position: relative;
                overflow: visible;
                font-size: 14px;
                color: $color-main;
                font-weight: bold;
            }

            & > p {
                &:before {
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 7.5px;
                    right: -20px;
                    top: 5px;

                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.002' height='7.5' viewBox='0 0 10.002 7.5'%3E%3Cpath id='Path_6483' data-name='Path 6483' d='M11,15.5a1.433,1.433,0,0,1-1.108-.533l-3.508-4.25a1.75,1.75,0,0,1-.217-1.842A1.467,1.467,0,0,1,7.491,8h7.017a1.467,1.467,0,0,1,1.325.875,1.75,1.75,0,0,1-.217,1.842l-3.508,4.25A1.433,1.433,0,0,1,11,15.5Z' transform='translate(-5.999 -8)' fill='%2324adc1'/%3E%3C/svg%3E%0A");
                }
            }

            & > span {
                &:before {
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 7.5px;
                    right: -20px;
                    top: 5px;

                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.002' height='7.5' viewBox='0 0 10.002 7.5'%3E%3Cpath id='Path_7260' data-name='Path 7260' d='M11,15.5a1.433,1.433,0,0,1-1.108-.533l-3.508-4.25a1.75,1.75,0,0,1-.217-1.842A1.467,1.467,0,0,1,7.491,8h7.017a1.467,1.467,0,0,1,1.325.875,1.75,1.75,0,0,1-.217,1.842l-3.508,4.25A1.433,1.433,0,0,1,11,15.5Z' transform='translate(16.001 15.5) rotate(180)' fill='%2324adc1'/%3E%3C/svg%3E%0A");
                }
            }
        }

        &__field {
            padding: 0 0 30px;
        }

        &__cover {
            @include gridBox(2, 20px, 16px);
        }

        &__box {
            .box {
                &-img {
                    @include imgPT(100%);
                    border-radius: 14px;
                }

                &-text {
                    text-align: center;
                    font-size: 14px;
                    color: $color-desc;
                    padding-top: 10px;
                    line-height: 1.4;
                }
            }
        }

        &__contact {
            padding: 30px 0;
            border-bottom: 1px solid rgba($color: $color-desc, $alpha: 0.15);
        }

        &__sub {
            @include flexBox(top);
            font-size: 14px;
            color: $color-desc;

            & + & {
                padding-top: 16px;
            }

            & > span {
                & > svg {
                    margin: 0 12px 1px 0;
                    margin-bottom: 1px;
                }
            }
        }

        &__link {
            @include flexBox(hor);
            flex-flow: row wrap;

            & > a {
                color: $color-desc;
            }

            span {
                margin: 0 3px;
            }
        }

        .single-content {
            &__follow {
                padding-top: 30px;
                justify-content: left;

                & > a {
                    &:first-child {
                        padding-left: 0;
                    }

                    @include responsive_table {
                        padding-left: 5px;
                    }
                }
            }
        }

        &__btn {
            & > button {
                width: 100%;
                height: 41px;
                @include flexBox(both);
                border-radius: 7px;

                &:first-child {
                    font-weight: 500;
                    color: #fff;
                    background-color: $color-yellow;
                    border: 0;
                }

                &:last-child {
                    border: 1px solid $color-main;
                    background-color: transparent;
                    color: $color-main;
                    transition: all 0.3s;

                    &:hover {
                        background-color: $color-main;
                        color: #fff;
                    }
                }
            }

            button + button {
                margin-top: 15px;
            }
        }
    }

    &-content {
        padding: 37px 0 145px 19.5px;

        @include responsive_table {
            padding: 30px 0 130px 0;
        }

        @include responsive_mobile {
            padding: 30px 0;
        }

        .program-page {
            &__number {
                padding-top: 22px;
                justify-content: right;

                @include responsive_mobile {
                    padding-top: 15px;
                    justify-content: center;
                }
            }
        }

        &__list {
            @include gridBox(3, 18px, 18px);

            @include responsive_fitSub {
                @include gridBox(2, 18px, 18px);
            }

            @include responsive_bothTM {
                @include gridBox(1, 18px, 18px);
            }

            &.special {
                margin-top: 30px;
            }

            .profile-item {
                padding: 0;
                transition: all 0.3s;

                &:hover {
                    transform: translateY(-10px);
                }
            }
        }

        &__nav {
            border-bottom: 1px solid rgba($color: $color-desc, $alpha: 0.15);
            margin-bottom: 26px !important;

            @include responsive_bothTM {
                flex-direction: column;
                border-bottom: 0;
            }

            .nav {
                &-item {
                    margin-left: 32px;

                    @include responsive_bothTM {
                        margin: 20px 0 0 0;
                    }

                    &:first-child {
                        margin-left: 0;
                    }
                }

                &-link {
                    padding: 0 0 18px 0;
                    background-color: transparent !important;
                    font-size: 18px;
                    font-weight: 500;
                    color: $color-desc;
                    position: relative;

                    @include responsive_table {
                        padding: 0 0 12px 0;
                    }

                    @include responsive_mobile {
                        padding: 10px 20px;
                        border: 1px solid $color-main;
                        border-radius: 20px;
                    }

                    &.active {
                        color: $color-main;
                        font-weight: bold;

                        @include responsive_mobile {
                            color: #fff;
                            background-color: rgba($color: $color-main, $alpha: 1) !important;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 4px;
                            left: 0;
                            bottom: -2px;
                            background-color: $color-main;
                            border-radius: 4px;

                            @include responsive_mobile {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    &-item {
        padding: 0 1.5px 18px;

        @include responsive_bothTM {
            padding: 0 0 15px;
        }

        &__wrapper {
            padding: 10px 10px 14px;
            background-color: #fff;
            border-radius: 14px;
        }

        &__img {
            @include imgPT(60%);
            border-radius: 7px;
        }

        &__content {
            padding: 0 5px;
        }

        &__heading {
            @include flexBox(hor);
            justify-content: space-between;
            padding: 15px 0;
        }

        &__category {
            font-size: 14px;
            color: rgba($color: $color-main, $alpha: 0.75);
            padding: 5px 15px;
            border-radius: 50px;
            background-color: #e8f7f9;

            @include lineDot(1);
            max-width: 70%;
        }

        &__student {
            font-size: 14px;
            color: rgba($color: $color-desc, $alpha: 0.75);

            & > span > strong {
                color: rgba($color: $color-title, $alpha: 0.75);
            }
        }

        &__title {
            font-weight: bold;
            color: $color-title;
            min-height: 36px;

            @include lineDot(2);
            line-height: 1.5;
            min-height: 48px;
        }

        &__sub {
            @include flexBox(hor);
            justify-content: space-between;
            font-size: 14px;

            color: rgba($color: $color-desc, $alpha: 0.75);
            border-bottom: 1px solid rgba($color: $color-desc, $alpha: 0.15);

            padding: 14px 0 15px;

            svg {
                margin: 0 3px 2px 0;
            }
        }

        &__star {
            svg {
                margin: 0 3px 5px 0;
            }
        }

        &__cover {
            @include flexBox(hor);
            justify-content: space-between;
            padding: 15px 0 5px;
        }

        &__info {
            @include flexBox(hor);
        }

        &__avatar {
            min-width: 45px;
            height: 45px;
            @include imgPT(23%);
            border-radius: 50%;
        }

        &__text {
            padding: 0 8px;
        }

        &__name {
            font-size: 14px;
            color: rgba($color: $color-title, $alpha: 0.75);
            @include lineDot(1);
        }

        &__location {
            font-size: 13px;
            color: rgba($color: $color-desc, $alpha: 0.75);
        }

        &__pirce {
            @include flexBox(hor);

            &.special {
                flex-direction: column;
            }
        }

        &__sale {
            font-weight: bold;
            color: #27b737;
        }

        &__base {
            font-size: 13px;
            padding-left: 5px;
            color: rgba($color: $color-desc, $alpha: 0.5);
        }
    }

    &-evaluate {
        padding-top: 34px;
        padding-bottom: 34px;

        &__content {
            @include flexBox(hor);
            justify-content: space-between;
            border-radius: 14px;
            background-color: #fff;
            padding: 30px 36px;

            @include responsive_HD {
                padding: 30px 20px;
            }

            @include responsive_bothTM {
                display: block;
            }

            @include responsive_mobile {
                padding: 25px 15px;
            }
        }

        // total
        &__total {
            text-align: center;
            width: 42%;
            height: 100%;
            padding-right: 36px;

            @include responsive_bigLow {
                width: 35%;
            }

            @include responsive_HD {
                padding-right: 20px;
                width: 28%;
            }

            @include responsive_bothTM {
                width: 100%;
                padding: 0 0 20px 0;
            }
        }

        &__scores {
            font-size: 50px;

            @include responsive_mobile {
                font-size: 35px;
            }
        }

        &__star {
            & > i {
                font-size: 18px;
                color: #eff3f7;

                &.active {
                    color: #faaf3a;
                }
            }

            i + i {
                margin: 0;
            }
        }

        &__sub {
            font-size: 14px;
            color: rgba($color: $color-desc, $alpha: 0.75);
        }

        // progress
        &__progress {
            width: 100%;
            @include flexBox(hor);
            justify-content: space-between;
            padding-left: 34px;
            border-left: 1px solid rgba($color: $color-desc, $alpha: 0.15);

            @include responsive_HD {
                padding-left: 20px;
            }

            @include responsive_bothTM {
                padding-left: 0;
                border-left: 0;
            }
        }

        &__primary {
            width: 100%;
            padding-right: 18px;
        }

        &__bar {
            min-height: 25.59px;
            padding-top: 11px;

            &:nth-child(1) {
                .progress-bar {
                    background-color: #00ba0c;
                }
            }

            &:nth-child(2) {
                .progress-bar {
                    background-color: #00ba74;
                }
            }

            &:nth-child(3) {
                .progress-bar {
                    background-color: #fbb851;
                }
            }

            &:nth-child(4) {
                .progress-bar {
                    background-color: #fb8551;
                }
            }

            &:nth-child(5) {
                .progress-bar {
                    background-color: #e6453c;
                }
            }

            .progress {
                @include flexBox(hor);
                height: 5px;
                border-radius: 50px;

                &-bar {
                    height: 100%;
                    border-radius: 50px;
                }
            }
        }

        &__secondary {
            min-width: 170px;
            margin-left: auto;

            @include responsive_mobile {
                min-width: 0;
            }
        }

        &__cover {
            span + span {
                padding-left: 12px;

                @include responsive_mobile {
                    padding-left: 0;
                }
            }

            .profile-evaluate__star {
                @include responsive_mobile {
                    display: none;
                }
            }
        }

        &__starmobile {
            max-width: 50px;
            display: none;

            @include responsive_mobile {
                display: block;
            }

            i {
                font-size: 18px;
                color: #eff3f7;
                padding-right: 5px;

                &.active {
                    color: #faaf3a;
                }
            }
        }
    }

    &-comment {
        padding-bottom: 45px;

        &__item {
            @include flexBox(top);
            padding: 17px 0 8px;

            @include responsive_mobile {
                padding: 10px 0 5px;
            }
        }

        &__avatar {
            @include imgPT(8%);
            min-width: 85px;
            height: 85px;

            border-radius: 50%;

            @include responsive_mobile {
                min-width: 45px;
                height: 45px;
            }
        }

        &__info {
            padding: 20px 0 0 0;
            padding-left: 20px;
            width: 100%;

            @include responsive_mobile {
                padding: 0;
                padding-left: 15px;
            }
        }

        &__name {
            font-size: 14px;
            font-weight: 500;
            color: rgba($color: $color-title, $alpha: 0.75);
        }

        &__star {
            & > i {
                color: #eff3f7;

                &.active {
                    color: #faaf3a;
                }
            }
        }

        &__content {
            font-size: 14px;
            font-style: italic;
            color: rgba($color: $color-title, $alpha: 0.75);

            padding: 18px 0 22px;
            border-bottom: 1px solid rgba($color: $color-desc, $alpha: 0.15);

            @include responsive_mobile {
                padding: 10px 0 15px;
            }
        }

        &__btn {
            @include flexBox(both);
            padding-top: 5px;
        }
    }

    &-feedback {
        &__wrapper {
            background-color: #fff;
            border-radius: 14px;
            padding: 34px 36px 40px;

            &.custom {
                padding: 30px 0;
            }

            @include responsive_mobile {
                padding: 30px 15px 30px;
            }
        }

        &__sub {
            padding: 0 0 20px;
            @include flexBox(hor);
        }

        &__text {
            font-size: 15px;
            font-weight: 500;
            padding-right: 10px;
        }

        &__star {
            @include flexBox(hor);
            font-size: 18px;
            color: #eff3f7;

            direction: rtl;
            text-align: left;
        }

        &__li {
            cursor: pointer;

            & + & {
                padding-right: 5px;
            }

            &:hover,
            &.selected,
            &:hover ~ &,
            &.selected ~ & {
                color: #faaf3a;
                transition: 0.3s ease;
            }
        }

        &__info {
            @include flexBox(hor);
            padding-bottom: 18px;

            @include responsive_mobile {
                display: block;
            }
        }

        &__input {
            width: 100%;

            & + & {
                padding-left: 24px;

                @include responsive_mobile {
                    padding: 18px 0 0;
                }
            }

            & > input {
                width: 100%;
                min-height: 45px;
                padding: 0 22px;

                border-radius: 5px;
                border: 1px solid rgba($color: $color-desc, $alpha: 0.25);

                font-size: 14px;
                color: $color-desc;
            }
        }

        &__lable {
            font-size: 14px;
            color: rgba($color: $color-desc, $alpha: 0.5);
            padding-bottom: 10px;
        }

        &__textarea {
            padding-bottom: 25px;

            & > textarea {
                height: 252px;
                width: 100%;
                padding: 14px 22px;

                border-radius: 5px;
                border: 1px solid rgba($color: $color-desc, $alpha: 0.25);

                font-size: 14px;
                color: $color-desc;
            }
        }

        &__submit {
            @include flexBox(both);
        }

        &__btn {
            padding: 12px 150px;
            background: $back-btn;
            border-radius: 7px;
            border: 1px solid rgba($color: $color-desc, $alpha: 0.25);

            color: #fff;
            text-transform: uppercase;
            font-weight: 500;

            &:hover {
                color: #fff !important;
            }

            @include responsive_mobile {
                padding: 10px 30px;
            }
        }
    }

    &-teacher {
        &__cover {
            @include flexBox(top);

            @in;
        }

        &__content * {
            all: revert;
        }

        &__img {
            min-width: 424px;
            height: 239px;
            @include imgPT(0%);
            border-radius: 10px;
            margin-left: 30px;

            @include responsive_bothTM {
                min-width: 100%;
                height: auto;
                padding-top: 68%;
                margin: 20px 0 0 0;
            }
        }
    }
}
