.program {
    &-wrapper {
        padding: 40px 0 145px;

        @include responsive_mobile {
            padding: 30px 0 80px;
        }
    }

    &-list {
        padding: 0 0 45px 0;

        @include responsive_mobile {
            padding: 0 0 35px 0;
        }

        &.profile {
            padding-bottom: 0;

            .training-primary,
            .training-secondary {
                padding: 0;

                &__date {
                    padding-left: 0;
                }
            }
        }

        .training-primary,
        .training-secondary {
            padding: 0 4px;
            margin-bottom: 24px;

            @include responsive_fitLow {
                padding: 0;
                margin-bottom: 10px;
            }

            @include responsive_table {
                margin-bottom: 15px;
            }

            @include responsive_mobile {
                margin-bottom: 30px;
            }
        }

        .training-primary {
            &__img {
                @include imgPT(47.6%);

                @include responsive_mobile {
                    @include imgPT(57%);
                }
            }
        }

        .training-secondary {
            &__img {
                @include imgPT(60.5%);

                @include responsive_mobile {
                    @include imgPT(47.5%);
                }
            }
        }
    }

    &-page {
        &__number {
            @include flexBox(both);
        }

        &__item {
            border: 1px solid #e2e2e2;
            border-radius: 50%;
            color: #707070;
            background-color: #fff;
            margin-left: 10px;

            &.active,
            &:hover {
                border: 1px solid $color-main;
                color: #fff;
                background-color: $color-main;
            }
        }

        &__item,
        &__prev,
        &__next,
        &__dots {
            width: 31px;
            height: 31px;
            @include flexBox(both);
        }

        // &__prev {
        //     margin-right: 10px;
        // }

        &__dots {
            margin-left: 10px;
        }

        &__next {
            margin-left: 10px;
        }
    }
}
