.tabs {
    &-cover {
        padding: 28px 0 40px;

        @include responsive_mobile {
            padding-bottom: 25px;
        }

        &__custom {
            padding: 0 var(--width-tabs);
        }

        &__title {
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 15px;

            @include responsive_HD {
                font-size: 18px;
            }
        }

        &__content {
            @include flexBox(top);

            @include responsive_bothTM {
                flex-direction: column;
            }
        }

        &__popup {
            margin: 0 var(--width-tabs);
            display: none;
            margin-top: 0 !important;

            @include responsive_bothTM {
                display: block;
            }

            @include responsive_mobile {
                width: max-content;
                max-width: max-content;
            }
        }

        &__offcanvas {
            .tabs-sidebar {
                display: block;

                &__item {
                    &.active {
                        clip-path: none;
                    }
                }
            }
        }
    }

    &-sidebar {
        min-width: 28%;
        padding: 15px 0;

        @include responsive_bothTM {
            display: none;
        }

        &__item {
            padding: 10px var(--width-tabs);

            &.active {
                background-color: $color-yellow;
                margin-bottom: 10px;
                clip-path: polygon(100% 0, 100% 35%, 92% 50%, 100% 65%, 100% 100%, 0 100%, 0 0);

                .tabs-sidebar__link {
                    color: #fff;
                }
            }
        }

        &__link {
            font-size: 16px;
            font-weight: 500;
            color: $color-desc;
        }
    }

    &-content {
        width: 100%;
        padding: 25px;
        border-left: 1px solid rgba($color: $color-desc, $alpha: 0.3);

        @include responsive_bothTM {
            padding: 0 var(--width-tabs);
            border-left: 0;
        }

        &__detail {
            position: relative;

            & * {
                all: revert;
            }

            img {
                width: 100%;
            }
        }
    }
}
