.teacher {
    &-information {
        .account-form {
            &__cover {
                padding-bottom: 40px;

                &:last-child {
                    padding-bottom: 0;
                }

                .account-teacher {
                    &__experience {
                        @include responsive_mobile {
                            flex-direction: column;

                            .account-form {
                                &__group {
                                    width: 100%;

                                    &:last-child {
                                        padding-top: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &__sub {
            @include flexBox(hor);
            padding: 6px 19px;
            border: 1px solid rgba($color: $color-desc, $alpha: 0.25);
            border-radius: 5px;
        }

        &__link {
            border: 0;
            width: 100%;
            margin-left: 15px;
        }

        &__service {
            padding-bottom: 20px;

            .account-form {
                &__label {
                    margin: 25px 0 0 0;
                }
            }
        }

        &__sidebar {
            padding-bottom: 30px;

            .account-teacher {
                &__id {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }

            @include responsive_table {
                width: 48%;
            }
        }

        &__socical {
            padding-bottom: 20px;

            &:last-child {
                padding-bottom: 0;
            }
        }

        .account-form {
            &__content {
                margin-top: 10px;

                .account-teacher {
                    &__list {
                        width: 70%;

                        @include responsive_bothTM {
                            width: 100%;
                        }
                    }
                }
            }
        }

        &__field {
            @include gridBox(3, 20px, 20px);

            @include responsive_mobile {
                @include gridBox(1, 20px, 20px);
            }

            .account-care {
                &__filed {
                    margin-top: 0;
                    padding-left: 15px;

                    @include responsive_mobile {
                        &:last-child {
                            margin-top: 20px;
                        }
                    }
                }

                &__intended {
                    &::after {
                        left: -30px;

                        @include responsive_HD {
                            width: calc(90% + 40px);
                        }
                    }
                }
            }
        }

        &__text {
            margin: 5px 0 15px;
            color: $color-main;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                width: 5px;
                height: 30px;
                top: -3px;
                left: -15px;

                background-color: $color-main;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
            }
        }

        .user-content {
            &__sidebar {
                @include responsive_table {
                    align-items: start;
                }
            }

            &__update {
                width: 100%;
            }
        }
    }

    &-create {
        .my-course {
            &__active {
                margin-left: 20px;
            }
        }

        &__sreach {
            padding-bottom: 40px;

            &.flex {
                @include flexBox(bothSides);

                @include responsive_mobile {
                    flex-direction: column;
                }

                .account-form {
                    &__group {
                        width: 100%;
                        margin: 0 20px 0 0;

                        @include responsive_mobile {
                            margin: 0 0 20px 0;
                        }
                    }
                }

                // .monitor-member {
                //     &__detail {
                //         margin-top: 0;
                //     }
                // }
            }
        }

        &__heading {
            @include flexBox(bothSides);
            padding-bottom: 30px;

            @include responsive_mobile {
                flex-direction: column;
            }

            .additional-course {
                &__title {
                    padding: 0;
                }
            }

            .account-form {
                &__group {
                    width: 40%;

                    @include responsive_mobile {
                        width: 100%;
                        padding-top: 20px;
                    }
                }

                &__input {
                    padding: 5px 20px;
                }
            }
        }

        &__btn {
            max-width: 260px;
            margin: 0 auto;

            @include responsive_mobile {
                max-width: 100%;
            }
        }
    }

    &-new {
        &__main {
            .user-course {
                &__item {
                    padding-bottom: 38px;
                }

                &__content {
                    padding: 0;
                    border-top: 0;

                    @include responsive_mobile {
                        padding: 25px 0 0 0;
                    }
                }

                &__img {
                    min-width: 220px;
                    height: 124px;
                }
            }

            .account-teacher {
                &__group {
                    @include responsive_mobile {
                        flex-direction: column;
                    }

                    .account-form {
                        &__group {
                            @include responsive_mobile {
                                width: 100%;

                                &:last-child {
                                    padding-top: 20px;
                                }
                            }
                        }
                    }
                }
            }

            .account-form {
                &__target {
                    display: block;
                    padding: 0 0 30px 50px !important;
                }
            }

            .account-form__phone + .user-detail__cover {
                padding-top: 20px;
            }
        }

        &__custom {
            padding-bottom: 20px;

            &.hold {
                opacity: 0.25;
            }
        }

        &__upload {
            padding: 20px 0;

            // .course-sidebar {
            //     &__register {
            //         margin-bottom: 0;
            //     }
            // }

            // .user-content {
            //     &__update {
            //         @include gridBox(3, 0, 20px);

            //         @include responsive_table {
            //             @include gridBox(2, 0, 20px);
            //         }

            //         @include responsive_mobile {
            //             @include gridBox(1, 0, 20px);

            //             .account-teacher {
            //                 &__show {
            //                     &:last-child {
            //                         padding-top: 20px;
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // }
        }

        &__cover {
            padding-bottom: 20px;
        }

        &__sub {
            @include flexBox(top);

            & > span {
                font-size: 18px;
                color: $color-main;
                width: 40px;
                height: 50px;
                @include flexBox(both);
            }
        }

        &__option {
            width: 100%;
            padding-left: 10px;
        }

        &__flex {
            @include flexBox(hor);
            padding-top: 10px;
            position: relative;

            @include responsive_mobile {
                flex-flow: row wrap;
            }

            &.special {
                padding-top: 0;
                margin-bottom: 20px;
            }

            .account-care {
                &__option {
                    padding-right: 40px;
                }
            }
        }

        &__notification {
            padding-top: 25px;
            border-top: 1px solid rgba($color: $color-desc, $alpha: 0.15);

            & > .account-form {
                &__group {
                    padding-top: 20px;
                    width: 50%;
                    margin-top: 0;

                    &:last-child {
                        width: 90%;

                        @include responsive_mobile {
                            width: 100%;
                        }
                    }

                    @include responsive_mobile {
                        width: 100%;
                    }
                }
            }
        }

        &__btn {
            @include flexBox(hor);
            padding: 30px 0 50px 0;

            @include responsive_bothTM {
                flex-direction: column;
            }

            @include responsive_mobile {
                padding: 25px 0 40px 0;
            }

            &.special {
                padding-top: 0;
            }

            .account-care {
                &__option {
                    margin: 30px 20px 0 0;
                }
            }
        }

        &__sidebar {
            padding-left: 40px;
            min-width: 295px;
            padding-left: 40px;

            @include responsive_mobile {
                padding: 30px 0 10px 0;
                min-width: 100%;
            }
        }

        &__select {
            &.active {
                .teacher-new {
                    &__list {
                        display: block;
                    }
                }
            }

            & > button {
                font-size: 14px;
                color: rgba($color: $color-desc, $alpha: 0.25);
                padding: 12px 40px 10px;
                border-radius: 10px;

                border: 1px dashed rgba(112, 112, 112, 0.5);
                background: transparent;

                svg {
                    margin: 0 5px 5px 0;
                    opacity: 0.25;
                }
            }
        }

        &__special {
            .account-form__group,
            .account-form__input {
                width: 100%;
            }
        }

        &__remove {
            border: 0;
            background: transparent;

            &.special {
                padding: 14px 0 0 81px;
            }
        }

        &__list {
            display: none;

            max-height: 1156px;
            overflow: auto;
            padding-right: 10px;

            .header-social {
                &__avatar {
                    min-width: 50px;
                    width: 50px;
                    height: 50px;
                    @include imgPT(0%);
                }
            }

            /* width */
            &::-webkit-scrollbar {
                width: 7px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 2px grey;
                border-radius: 10px;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $color-main;
                border-radius: 7px;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: $color-main;
            }

            .monitor-info {
                &__student {
                    padding-top: 30px;
                }
            }

            .monitor-document {
                &__remove {
                    margin-top: 10px;
                }
            }
        }

        &__modal {
            .modal {
                // &-dialog {
                //     // @media only screen and (min-width: 576px) {
                //     //     max-width: 700px;
                //     // }
                // }
            }

            .account-form {
                border-radius: 8px;

                &__list {
                    margin-top: 28px;
                    display: block;
                    padding-right: 0;
                    padding-bottom: 30px;
                    @include gridBox(2, 20px, 44px);

                    max-height: 477px;
                    overflow: auto;
                    padding-right: 10px;

                    @include responsive_mobile {
                        margin-top: 18px;
                        @include gridBox(1, 0, 0);
                    }
                }
            }

            .header-social__service {
                padding-right: 12px;
                width: 100%;

                @include responsive_pcLower {
                    margin-left: 6px;
                }

                @include responsive_table {
                    margin-left: 6px;
                }
            }

            .intro-tabs__input {
                border-left: 0;
                padding-left: 0;
            }

            .account-care {
                &__option {
                    margin-top: 0;
                }

                &__label {
                    margin-top: 0;
                    margin-right: 0;
                    border: 1px solid rgba(78, 101, 121, 0.5);
                }
            }

            .teacher-new__list .monitor-info__student {
                padding-top: 0px;

                @include responsive_pcLower {
                    flex-direction: row;
                }

                @include responsive_table {
                    flex-direction: row;
                }

                @include responsive_mobile {
                    padding-top: 16px;
                }

                &:last-child {
                    border-bottom: 0;
                }
            }

            .monitor-info__student {
                position: relative;
                padding-left: 35px;

                .account-care__option {
                    position: absolute;
                    top: 15px;
                    left: 0;
                }
            }
        }

        &__dialog {
            @media only screen and (min-width: 1000px) {
                max-width: 70%;
            }

            @media only screen and (max-width: 1000px) {
                max-width: 100%;
            }
        }

        &__data {
            min-height: initial;
            margin-top: 0;

            .teacher-new {
                &__info {
                    @include flexBox(bothSides);
                    padding: 10px 10px 15px;
                    border-bottom: 1px solid rgba($color: $color-desc, $alpha: 0.15);

                    &:first-child {
                        padding-top: 0;
                    }

                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
        }

        &__desc {
            & + & {
                margin-top: 25px;
            }

            .additional-course {
                &__title {
                    padding-bottom: 0;
                }
            }
        }

        &__ab {
            position: absolute;
            top: 85px;
            background-color: #fff;
            width: 100%;
            border: 1px solid rgba(112, 112, 112, 0.25);
            display: none;
            z-index: 11;

            &.active {
                display: block;
            }

            & > button {
                color: $color-title;
                color: #4e6579;
                padding: 10px 20px;
                background-color: rgba($color: $color-desc, $alpha: 0.01);
                border: 0;
                width: 100%;
                text-align: left;

                &:hover {
                    background-color: rgba($color: $color-main, $alpha: 0.1);
                }
            }
        }

        &__fancybox {
            @include gridBox(4, 15px, 15px);

            @include responsive_table {
                @include gridBox(3, 15px, 15px);
            }

            @include responsive_mobile {
                @include gridBox(2, 10px, 10px);
            }

            & > a {
                @include imgPT(66%);
            }
        }
    }

    &-post {
        .account-teacher {
            &__example {
                height: 120px;
            }
        }

        &__custom {
            margin: 30px 0 10px;
        }

        &__select {
            @include flexBox(hor);

            .account-care {
                &__value {
                    color: $color-title;
                    font-size: 14px;
                }
            }
        }

        &__sub + &__sub {
            padding-left: 30px;
        }

        &__price {
            & > span:first-child {
                font-weight: bold;
            }
        }
    }

    &-chart {
        @include flexBox(bottom);

        @include responsive_mobile {
            padding: 20px 0 5px;
            display: block;
        }

        .account-form {
            &__group {
                margin: 0 20px 0 0;

                @include responsive_mobile {
                    margin: 0 0 20px 0;
                }
            }
        }

        &__btn {
            border: 0;
            background: $back-btn;
            padding: 7px 30px;
            color: #fff;
            border-radius: 5px;

            @include responsive_mobile {
                width: 100%;
            }
        }
    }

    &-modal {
        &__container {
            max-width: 1372px;

            .modal-content {
                background-color: #edf0f4;
            }

            .premium {
                &-wrapper {
                    min-height: 500px;
                }

                &-priceList {
                    &__heading {
                        position: relative;
                        width: fit-content;
                        margin: 20px auto 50px;
                    }

                    &__cover {
                        padding-bottom: 35px;
                    }

                    &__btn {
                        background-color: rgba($color: $color-main, $alpha: 0.1);

                        &:hover {
                            background-color: $color-main;
                        }

                        &.use {
                            color: rgba($color: $color-desc, $alpha: 0.25);
                            background-color: transparent;
                            border-color: rgba($color: $color-desc, $alpha: 0.25);

                            &:hover {
                                background-color: rgba($color: $color-main, $alpha: 0.25);
                                border-color: rgba($color: $color-main, $alpha: 0.25);
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    &-monitor {
        &__info {
            .table {
                &-code {
                    width: 15% !important;

                    @include responsive_bothTM {
                        width: 100% !important;
                    }
                }

                &-quantity {
                    width: 25% !important;

                    @include responsive_bothTM {
                        width: 100% !important;
                    }

                    .user-monitor {
                        &__sub {
                            justify-content: center;

                            @include responsive_bothTM {
                                margin-top: 15px;
                            }
                        }
                    }

                    .training-secondary {
                        &__box {
                            padding-right: 0;
                        }

                        &__text {
                            text-align: left;
                        }
                    }
                }
            }

            &.special {
                .table {
                    &-progress {
                        width: 40% !important;

                        .profile-item__time {
                            flex-flow: row wrap;
                        }

                        .manager-text {
                            width: 100%;
                        }
                    }

                    &-remove {
                        position: relative !important;
                        top: 0 !important;
                        transform: translateY(0) !important;
                        justify-content: center;
                    }

                    &-link {
                        width: 6%;

                        .monitor-info__edit {
                            margin: 0;
                        }
                    }

                    &-progress,
                    &-link,
                    &-quantity,
                    &-code {
                        @include responsive_mobile {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}

i + i {
    margin-left: 3px;
}
