.training {
    background-color: #fff;

    &.special {
        overflow: hidden;
    }

    &-wrapper {
        padding: 60px 0 90px;

        @include responsive_table {
            padding: 50px 0 70px;
        }

        @include responsive_mobile {
            padding: 40px 0 50px;
        }
    }

    &-program {
        padding-bottom: 50px;
        border-bottom: 1px solid rgba($color: $color-desc, $alpha: 0.15);

        @include responsive_mobile {
            padding-bottom: 30px;
        }
    }

    &-share {
        padding: 45px 0 80px;

        @include responsive_bothTM {
            padding: 30px 0 40px;
        }

        // .training-heading {
        //     @include responsive_mobile {
        //         margin-bottom: 0;
        //     }
        // }
    }

    &-heading {
        @include flexBox(bothSides);
        margin-bottom: 35px;

        @include responsive_big16 {
            margin-bottom: 30px;
        }

        @include responsive_mobile {
            margin-bottom: 25px;
        }

        &__title {
            font-size: 30px;

            @include responsive_big16 {
                font-size: 24px;
            }

            @include responsive_table {
                font-size: 22px;
            }

            @include responsive_mobile {
                font-size: 18px;
            }
        }

        &__seemore {
            font-size: 16px;
            color: $color-yellow;

            @include responsive_mobile {
                font-size: 15px;
            }

            &:hover {
                color: $color-yellow;
            }

            svg {
                margin-left: 5px;
            }
        }
    }

    &-primary {
        color: #fff;
        position: relative;

        @include responsive_mobile {
            margin-bottom: 30px;
        }

        &:hover {
            color: #fff;
        }

        &__img {
            @include imgPT(57%);
            border-radius: 14px;

            @include responsive_mobile {
                @include imgPT(59%);
            }

            &::after {
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                display: block;

                width: 100%;
                height: 65%;
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 0%, #000 120%);
            }

            & > i {
                position: absolute;
                top: -1px;
                left: 30px;
                color: #fff;
                padding: 10px 6px 20px;

                background-color: $color-yellow;
                clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
            }
        }

        &__heading {
            position: absolute;
            bottom: 0;
            padding: 24px 30px;

            @include responsive_mobile {
                padding: 12px 15px;
            }
        }

        &__title {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 8px;

            display: -webkit-box;
            -webkit-line-clamp: 1;
            overflow: hidden;
            -webkit-box-orient: vertical;

            @include responsive_mobile {
                font-size: 16px;
            }
        }

        &__cover {
            @include flexBox(top);
        }

        &__box {
            @include flexBox(hor);
        }

        &__avatar {
            width: 45px;
            height: 45px;

            @include imgPT(25%);
            border-radius: 50%;
        }

        &__text {
            padding-left: 8px;
        }

        &__name {
            font-size: 14px;
        }

        &__position {
            font-size: 13px;
            opacity: 0.75;
        }

        &__date {
            font-size: 13px;
            opacity: 0.75;
            padding-left: 22px;

            span + span {
                padding-left: 7px;
            }

            & > span:last-child {
                padding-top: 2px;
            }
        }
    }

    &-secondary {
        &:hover {
            p {
                color: $color-title;
            }
        }

        color: $color-title;
        position: relative;
        padding: 0 7px;

        &.special {
            margin-bottom: 30px;

            @include responsive_HD {
                margin-bottom: 24px;
            }
        }

        @include responsive_HD {
            padding: 0;
        }

        @include responsive_mobile {
            margin-bottom: 30px;
        }

        &__img {
            @include imgPT(63%);
            border-radius: 14px;

            @include responsive_mobile {
                @include imgPT(59%);
            }

            & > i {
                position: absolute;
                top: -1px;
                left: 20px;
                color: #fff;
                padding: 10px 6px 20px;

                background-color: $color-yellow;
                clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
            }
        }

        &__heading {
            padding: 15px 0 0;
        }

        &__title {
            font-weight: bold;
            margin-bottom: 14px;
            font-size: 16px;
            line-height: 26px;
            min-height: 48px;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            -webkit-box-orient: vertical;

            @include responsive_mobile {
                font-size: 16px;
                line-height: 23px;
            }

            &.special {
                margin-bottom: 10px;

                @include responsive_HD {
                    margin-bottom: 5px;
                }
            }
        }

        &__cover {
            @include flexBox(top);
        }

        &__box {
            @include flexBox(hor);

            &.special {
                padding: 20px 0;
            }
        }

        &__avatar {
            min-width: 45px;
            width: 45px;
            height: 45px;

            @include imgPT(0%);
            border-radius: 50%;
        }

        &__text {
            padding-left: 8px;

            &.special {
                padding-left: 0;
                margin-bottom: 8px;
            }
        }

        &__name {
            font-size: 14px;
            font-weight: 500;
        }

        &__position {
            font-size: 13px;
            opacity: 0.75;

            color: rgba($color: $color-desc, $alpha: 0.75);
        }

        &__date {
            font-size: 13px;
            opacity: 0.75;
            padding-left: 22px;
            color: $color-desc;
            min-width: 102px;
            font-weight: 500;

            @include responsive_HD {
                padding-left: 10px;
            }

            span + span {
                padding-left: 7px;
            }

            svg {
                margin-bottom: 3px;
            }

            &.special {
                padding-left: 0;
            }
        }
    }

    &-item {
        &:hover {
            p {
                color: $color-title;
            }
        }

        color: $color-title;
        position: relative;
        @include flexBox(top);

        &__img {
            width: 80px;
            height: 80px;
            @include imgPT(18%);
            padding-right: 18%;
            border-radius: 14px;
        }

        &__heading {
            padding: 0 30px 0 13px;

            @include responsive_HD {
                padding: 0 0 0 13px;
            }
        }

        &__title {
            font-weight: bold;
            margin-bottom: 12px;
            font-size: 14px;
            line-height: 22px;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            -webkit-box-orient: vertical;
        }

        &__cover {
            @include flexBox(top);
        }

        &__box {
            @include flexBox(hor);
        }

        &__avatar {
            min-width: 25px;
            height: 25px;

            @include imgPT(18%);
            border-radius: 50%;
            margin-top: -25px;
        }

        &__text {
            padding-left: 8px;
        }

        &__name {
            font-size: 14px;
        }

        &__position {
            font-size: 13px;
            opacity: 0.75;
        }

        &__date {
            font-size: 13px;
            opacity: 0.75;
            padding-left: 22px;
            color: $back-footer;
            min-width: 102px;

            @include responsive_HD {
                padding-left: 10px;
            }

            span + span {
                padding-left: 7px;
            }
        }
    }

    &-item + &-item {
        padding-top: 20px;
    }

    &-cover {
        @include responsive_bothTM {
            margin-top: 30px;
        }
    }

    &-slide {
        position: relative;
        // padding-bottom: 52px;

        @include responsive_bothTM {
            padding-bottom: 30px;
        }

        &__pagination {
            display: none;

            @include responsive_bothTM {
                display: block;
                bottom: -6px !important;
            }
        }

        .swiper {
            &-button {
                &-next,
                &-prev {
                    --width: -50px;

                    @include responsive_bothTM {
                        display: none;
                    }

                    &::after {
                        display: none;
                    }
                }

                &-next {
                    right: var(--width);
                }

                &-prev {
                    left: var(--width);
                }

                &-next,
                &-prev {
                    top: 32%;
                }
            }

            &-scrollbar {
                display: block;
                background-color: #eff3f7;
                border-radius: 15px;
                height: 5px;
                margin-top: 52px;

                @include responsive_mobile {
                    margin-top: 32px;
                }

                &-drag {
                    background-color: $color-main;
                }
            }

            &-secondary {
                padding: 0;
            }

            &-slide {
                max-width: 400px !important;
            }
        }

        .training {
            &-secondary {
                padding: 0;
            }
        }
    }

    &-banner {
        &__cover {
            @include flexBox(hor);
            border-radius: 20px;
            overflow: hidden;

            @include responsive_mobile {
                flex-direction: column;
                border-radius: 0;
            }
        }

        &__inner {
            position: relative;
            width: 50%;
            height: 350px;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 0;

            @include flexBox(hor);

            @include responsive_table {
                height: 300px;
            }

            @include responsive_mobile {
                width: 100%;
                border-radius: 10px;
                overflow: hidden;
                height: 200px;

                & + & {
                    margin-top: 20px;
                }
            }

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                top: 0;

                position: absolute;
                z-index: 1;
                background-color: rgba($color: $color-main, $alpha: 0.9);
            }

            &.right {
                justify-content: right;

                &::after {
                    background-color: rgba($color: $color-desc, $alpha: 0.9);
                }

                .training-banner {
                    &__content {
                        padding: 0 75px 0 0;

                        @include responsive_fit {
                            padding: 0 0 0 40px;
                        }

                        @include responsive_bothTM {
                            padding: 30px;
                        }
                    }

                    &__btn {
                        color: $color-desc;
                    }
                }
            }
        }

        &__content {
            position: relative;
            z-index: 2;
            padding: 0 0 0 75px;
            text-align: center;
            width: 61%;

            @include responsive_fit {
                width: 65%;
                padding: 0 0 0 40px;
            }

            @include responsive_bothTM {
                width: 100%;
                padding: 28px;
            }
        }

        &__text {
            color: rgba($color: #fff, $alpha: 0.5);
            font-weight: 500;
        }

        &__title {
            font-size: 30px;
            color: #fff;
            font-weight: 500;
            padding-top: 10px;

            @include responsive_table {
                font-size: 18px;
            }

            @include responsive_mobile {
                font-size: 16px;
            }
        }

        &__btn {
            display: inline-block;
            font-weight: 500;
            color: $color-main;

            min-width: 186px;
            border-radius: 7px;
            padding: 8px 23px;
            margin-top: 25px;
            background-color: #fff;
        }

        &__img {
            width: 26.5%;
            @include imgPT(18%);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            margin: -18% auto 0;

            @include responsive_fit {
                width: 28.5%;
            }

            @include responsive_table {
                margin: 20px auto 0;
                width: 70%;
                border-radius: 10px;
                @include imgPT(40%);
            }

            @include responsive_mobile {
                margin: 20px auto 0;
                width: 100%;
                border-radius: 10px;
                @include imgPT(57%);
            }
        }
    }

    &-title {
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        padding: 50px 0;

        @include responsive_table {
            padding: 40px 0;
            font-size: 24px;
        }

        @include responsive_mobile {
            padding: 30px 0;
            font-size: 18px;
        }
    }

    &-box {
        @include gridBox(1, 35px, 35px);

        @include responsive_bothTM {
            @include gridBox(1, 20px, 20px);
        }

        &__item {
            @include flexBox(top);
        }

        &__icon {
            width: 67px;
            min-width: 67px;

            @include responsive_mobile {
                width: 50px;
                min-width: 50px;
            }
        }

        &__text {
            padding: 0 20px 0 24px;

            @include responsive_fit {
                padding: 0 15px 0 15px;
            }
        }

        &__title {
            font-weight: 500;
            margin-bottom: 10px;

            @include responsive_mobile {
                font-size: 14px;
                margin-bottom: 5px;
            }
        }

        &__sub {
            font-style: italic;
            font-size: 14px;
            color: $color-desc;
        }
    }

    &-content {
        margin-top: 50px;

        @include responsive_mobile {
            margin-top: 30px;
        }

        &__cover {
            @include flexBox(hor);

            @include responsive_bothTM {
                flex-direction: column;
            }

            & + & {
                margin-top: 50px;

                @include responsive_bothTM {
                    margin-top: 20px;
                }
            }

            &.special {
                flex-direction: row-reverse;

                @include responsive_bothTM {
                    flex-direction: column;
                }

                .training-content {
                    &__inner {
                        margin: 0 0 0 30px;

                        @include responsive_bothTM {
                            margin: 0 0 20px 0;
                        }
                    }
                }
            }
        }

        &__inner {
            margin: 0 30px 0 0;

            @include responsive_bothTM {
                margin: 0 0 20px 0;
            }
        }

        &__inner,
        &__img {
            width: 50%;

            @include responsive_bothTM {
                width: 100%;
            }
        }

        &__header {
            margin-bottom: 30px;
        }

        &__title {
            font-family: $font-title;
            font-size: 50px;
            color: $color-main;
            margin-bottom: -20px;

            @include responsive_HD {
                font-size: 40px;
            }

            @include responsive_HD {
                margin-bottom: -10px;
            }

            & > span {
                font-size: 100px;

                @include responsive_HD {
                    font-size: 80px;
                }
            }
        }

        &__text {
            font-size: 30px;
            font-weight: 500;
            line-height: 40px;

            @include responsive_big16 {
                font-size: 22px;
                line-height: initial;
            }

            @include responsive_HD {
                font-size: 18px;
            }

            @include responsive_mobile {
                font-size: 16px;
            }
        }

        &__img {
            & > img {
                width: 100%;
                height: auto;

                &:first-child {
                    min-width: max-content;

                    @include responsive_fit {
                        min-width: 100%;
                    }
                }
            }

            img + img {
                margin-top: 20px;
            }
        }
    }
}
