html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

input,
textarea,
select,
button {
  outline: none; }

a {
  display: block;
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p,
h1,
h4,
h2,
h3 {
  margin: 0;
  font-size: 14px; }

button:focus {
  box-shadow: none !important; }

button:hover {
  opacity: 0.9; }

a:hover {
  color: #01cc46;
  opacity: 0.9; }

/* PC Alway  */
/* PC BIG  */
/* PC BIG Lower */
/* PC BIG 16 */
/* PC fit */
/* PC fit-sub */
/* PC fit lower */
/* PC fit lower */
/* PC fit small */
/* PC HD */
/* PC Change */
/* PC LOWER  min-1023px */
/* Mobile & tablet */
/* Tablet */
/* Mobile */
/* Phone Small */
html {
  scroll-behavior: smooth !important; }

body {
  scroll-behavior: smooth !important;
  transition: all 0.3s ease;
  transition: 0.3s;
  overflow-y: auto;
  overflow-x: hidden;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 21px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  padding-right: 0 !important;
  background-color: #000; }
  @media only screen and (min-width: 1650px) {
    body .container-xl {
      max-width: 1494px; } }
  @media only screen and (max-width: 1440px) {
    body .container-xl {
      max-width: 96%; } }
  @media only screen and (max-width: 1283px) {
    body .container-xl {
      max-width: 100%; }
      body .container-xl .hide-on-pc-HD {
        display: none; } }
  @media only screen and (min-width: 1650px) {
    body .container {
      max-width: 1176px; } }
  @media only screen and (max-width: 1283px) {
    body .container {
      max-width: 96%; }
      body .container .hide-on-pc-HD {
        display: none; } }
  @media only screen and (max-width: 63.9375em) {
    body .container {
      max-width: 100%; }
      body .container .hide-on-bothTM {
        display: none !important; } }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-family: Montserrat, sans-serif; }
  body a {
    color: #fff; }
    body a:hover {
      color: #fff; }

.hide {
  display: none !important; }

.is-hide {
  animation: fadeHide 0.3s linear; }

.top-scroll {
  position: fixed;
  right: 1.8%;
  bottom: 3%;
  z-index: 99;
  width: 39px;
  height: 39px;
  border: 2px solid #000;
  border-radius: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; }
  .top-scroll.show {
    display: flex;
    animation: fadeLine 0.3s linear; }
  .top-scroll i {
    color: #000;
    font-size: 1.2rem; }

.modal-backdrop.show {
  z-index: 1076;
  opacity: 0.86; }
  .modal-backdrop.show::after {
    position: absolute;
    content: "";
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: grayscale(50%) blur(10px); }
    @media only screen and (max-width: 46.1875em) {
      .modal-backdrop.show::after {
        backdrop-filter: grayscale(50%) blur(2px); }
        .modal-backdrop.show::after .hide-on-mobile {
          display: none; } }

.modal {
  z-index: 1077; }

.offcanvas {
  z-index: 1056; }
  .offcanvas-backdrop {
    z-index: 1055; }

@media (min-width: 1200px) {
  body .container-xl.special {
    max-width: calc(100% - ((100% - 1140px))); } }

@media (min-width: 1400px) {
  body .container-xl.special {
    max-width: calc(100% - ((100% - 1320px))); } }

@media only screen and (min-width: 1650px) {
  body .container-xl.special {
    max-width: calc(100% - (100% - 1383px) / 2);
    margin-left: auto;
    margin-right: 0; } }

.swiper-btn::after {
  display: none !important; }

.select2-container {
  z-index: 99; }

.select2-container--open {
  z-index: 1083; }

.header .select2-container--open .select2-dropdown--below {
  width: 227px !important; }

.select2-dropdown {
  border: 1.4px solid rgba(112, 112, 112, 0.25);
  border-radius: 5px;
  z-index: 1078; }
  @media only screen and (max-width: 46.1875em) {
    .select2-dropdown {
      width: 250px !important; }
      .select2-dropdown .hide-on-mobile {
        display: none; } }

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #01cc46 !important;
  color: white; }

.select2-dropdown {
  z-index: 1056; }

.select2-container--default .select2-results > .select2-results__options {
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
    width: 12px; }
  .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px; }
  .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #cecece; }
  .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1; }

.swal2-popup .swal2-title {
  font-size: 25px;
  margin: 14px 0 0.4em; }

.swal2-popup .swal2-styled {
  padding: 9px 2em; }
  .swal2-popup .swal2-styled.swal2-cancel, .swal2-popup .swal2-styled.swal2-confirm {
    font-size: 16px; }

@keyframes smoothScroll {
  0% {
    transform: translateY(-140px); }
  100% {
    transform: translateY(0px); } }

@keyframes fadeHide {
  0% {
    height: 116px;
    opacity: 1; }
  100% {
    height: 0px;
    opacity: 0; } }

@keyframes fadeSearch {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }

@keyframes fadeShow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes spinner {
  100% {
    transform: rotate(360deg); } }

/* Track */
/* Handle */
/* Handle on hover */
@media (min-width: 1200px) {
  body .container-xl.special {
    max-width: calc(100% - ((100% - 1140px))); } }

@media (min-width: 1400px) {
  body .container-xl.special {
    max-width: calc(100% - ((100% - 1320px))); } }

@media only screen and (min-width: 1650px) {
  body .container-xl.special {
    max-width: calc(100% - (100% - 1383px) / 2);
    margin-left: auto;
    margin-right: 0; } }

.header.active {
  position: sticky;
  top: 0;
  background-color: #18181bb3;
  backdrop-filter: blur(12px);
  border-bottom: 1px solid #fafafa40; }
  .header.active .header-wrapper {
    padding: 16px 0; }

.header-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0; }

.header-main, .header-sub, .header-menu, .header-search {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center; }

.header-logo + .header-main + .header-sub,
.header-menu + .header-search {
  margin-left: 25px; }

.header-logo {
  max-width: 135px; }

.header-menu__link {
  font-size: 14px;
  padding: 8px 25px;
  transition: all 0.3s; }
  @media only screen and (max-width: 1283px) {
    .header-menu__link {
      padding: 8px 15px; }
      .header-menu__link .hide-on-pc-HD {
        display: none; } }
  .header-menu__link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px; }

.header-main {
  position: relative; }

.header-search__form {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 38px;
  width: 0;
  max-width: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s; }
  .header-search__form.active {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background-color: #18181b;
    border: 1px solid #5f6063;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    visibility: visible;
    opacity: 1;
    overflow: hidden; }
    .header-search__form.active .header-search__btn {
      width: 38px;
      height: 38px; }

.header-search__icon {
  width: 38px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.1); }

.header-search__btn, .header-search__icon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 5px; }
  .header-search__btn > svg, .header-search__icon > svg {
    width: 16px;
    max-width: 16px; }

.header-search__btn {
  width: 0;
  background-color: #18181b; }

.header-search__input {
  width: 100%;
  border: 0;
  background-color: transparent;
  color: #fff; }
  .header-search__input::placeholder {
    font-size: 14px; }

.header-sub__language {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: relative; }

.header-sub__language + .header-sub__download {
  margin-left: 15px; }

.header-sub__icon {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer; }
  .header-sub__icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fbbf24;
    filter: blur(8px);
    z-index: -1;
    display: none; }
  .header-sub__icon:hover::after {
    display: block; }

.header-sub__download {
  color: #01cc46;
  font-size: 14px; }
  .header-sub__download:hover {
    color: #01cc46; }

.header-sub__menu {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #5f6063;
  width: 190px;
  display: none; }
  .header-sub__menu:hover {
    display: block; }
  .header-sub__menu::after {
    content: "";
    position: absolute;
    right: 0;
    top: -20px;
    width: 30%;
    height: 20px;
    background-color: transparent; }

.header-sub__icon {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent; }
  .header-sub__icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fbbf24;
    filter: blur(8px);
    z-index: -1;
    display: none; }
  .header-sub__icon:hover::after {
    display: block; }
  .header-sub__icon:hover ~ .header-sub__menu {
    display: block; }

.header-sub__link {
  font-size: 14px;
  min-width: max-content;
  padding: 5px 10px 6px;
  border-radius: 5px; }
  .header-sub__link:hover {
    background-color: rgba(255, 255, 255, 0.1); }

.footer {
  background-color: #0c0c0e; }
  .footer-wrapper {
    padding: 95px 0; }
  .footer-top {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 20px;
    padding-bottom: 60px; }
    .footer-top__inner:first-child {
      grid-column: span 2 / span 2; }
    .footer-top__logo {
      max-width: 190px;
      margin-bottom: 40px; }
    .footer-top__text {
      width: 60%;
      margin-bottom: 24px; }
    .footer-top__text, .footer-top__link {
      color: #a1a1aa; }
    .footer-top__social {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center; }
    .footer-top__icon + .footer-top__icon {
      margin-left: 20px; }
    .footer-top__title {
      font-weight: 600;
      margin-bottom: 32px;
      font-size: 16px; }
    .footer-top__menu .footer-top__link + .footer-top__link {
      margin-top: 16px; }
  .footer-main {
    padding: 32px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .footer-main__menu {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center; }
      .footer-main__menu .footer-top__link + .footer-top__link {
        margin-left: 35px; }
  .footer-bottom {
    padding-top: 50px; }
    .footer-bottom__text * {
      all: revert;
      color: #a1a1aa; }
    .footer-bottom__cover {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 32px 32px; }
