/* PC Alway  */
/* PC BIG  */
/* PC BIG Lower */
/* PC BIG 16 */
/* PC fit */
/* PC fit-sub */
/* PC fit lower */
/* PC fit lower */
/* PC fit small */
/* PC HD */
/* PC Change */
/* PC LOWER  min-1023px */
/* Mobile & tablet */
/* Tablet */
/* Mobile */
/* Phone Small */
.intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  position: relative; }
  .intro::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 3, 2, 0.4);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0; }
  .intro-wrapper {
    position: relative;
    z-index: 2; }
    .intro-wrapper__flexStart {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-flow: row wrap; }
    .intro-wrapper__item {
      max-width: 23%;
      width: 23%;
      margin-bottom: 15px; }
      .intro-wrapper__item + .intro-wrapper__item {
        margin-left: 15px; }
  .intro-text__seemore {
    padding: 0.4rem 3.25rem; }
    @media only screen and (max-width: 63.9375em) {
      .intro-text__seemore {
        font-size: 1rem;
        padding: 0.1rem 1.85rem; }
        .intro-text__seemore .hide-on-bothTM {
          display: none !important; } }
  @media only screen and (max-width: 63.9375em) {
    .intro-text__ttmb {
      font-size: 1.2rem;
      line-height: initial; }
      .intro-text__ttmb .hide-on-bothTM {
        display: none !important; } }
  @media only screen and (max-width: 63.9375em) {
    .intro-text__submb {
      font-size: 0.8rem;
      line-height: initial; }
      .intro-text__submb .hide-on-bothTM {
        display: none !important; } }
  .intro-img {
    position: relative; }
    .intro-img::after {
      content: "";
      position: absolute;
      bottom: -35px;
      left: 0;
      width: 100%;
      height: 70px;
      background-image: url("data:image/svg+xml,%3Csvg width='428' height='29' viewBox='0 0 428 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='218.5' cy='14.4432' rx='218.5' ry='13.8671' fill='url(%23paint0_radial_489_9935)' fill-opacity='0.64'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_489_9935' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(218.943 14.4432) rotate(91.8306) scale(13.8741 218.426)'%3E%3Cstop stop-color='%232C2C2C' stop-opacity='0.79'/%3E%3Cstop offset='0.778131' stop-color='%23000' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: cover;
      background-repeat: no-repeat; }
  .intro-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;
    width: 100%;
    height: 100vh;
    display: none;
    overflow: hidden !important; }
    .intro-popup.active {
      display: block; }
    .intro-popup__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(2px);
      z-index: 10; }
    .intro-popup__wrap {
      position: absolute;
      max-width: 405px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 26px 17px;
      border-radius: 28px;
      background-color: #262626;
      z-index: 20; }
      @media only screen and (max-width: 46.1875em) {
        .intro-popup__wrap {
          max-width: 100%; }
          .intro-popup__wrap .hide-on-mobile {
            display: none; } }
    .intro-popup__logo {
      margin: 0 auto 23px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center; }
    .intro-popup__title {
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 800;
      text-align: center;
      line-height: normal;
      margin-bottom: 23px; }
    .intro-popup__input {
      width: 275px;
      height: 44px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      background-color: #111111;
      margin: 0 auto;
      padding: 0 10px;
      box-shadow: 1px 1.5px 4px 0px rgba(0, 0, 0, 0.1) inset, 1px 1.5px 4px 0px rgba(0, 0, 0, 0.08) inset, 0px -0.5px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px -0.5px 1px 0px rgba(255, 255, 255, 0.3) inset; }
      .intro-popup__input + .intro-popup__input {
        margin-top: 15px; }
    .intro-popup__btn {
      margin: 23px auto 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      background: rgba(128, 128, 128, 0.3);
      width: 197px;
      height: 47px;
      background-blend-mode: luminosity;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.4);
      transition: all 0.3s; }
      .intro-popup__btn:hover {
        background: var(--Linear, linear-gradient(90deg, #00d100 -0.02%, #32b4b2 99.98%)); }
  .intro-cover__custom:nth-child(1) {
    max-width: 310px;
    left: 0;
    top: 0; }
  .intro-cover__custom:nth-child(2) {
    max-width: 300px;
    top: -10%;
    right: 0; }
  .intro-cover__custom:nth-child(3) {
    max-width: 455px;
    right: 0;
    bottom: 0; }
  .intro-cover__custom:nth-child(4) {
    max-width: 230px;
    left: -10%;
    bottom: 0; }
    @media only screen and (max-width: 1440px) {
      .intro-cover__custom:nth-child(4) {
        left: -25%; } }
  @media only screen and (max-width: 63.9375em) {
    .intro-cover__custom {
      position: relative;
      max-width: 100% !important;
      margin: 0 10px;
      left: initial !important;
      right: initial;
      top: initial;
      bottom: initial !important; }
      .intro-cover__custom .hide-on-bothTM {
        display: none !important; }
      .intro-cover__custom + .intro-cover__custom {
        margin-top: 10px; } }
  .intro-cover__wrap {
    padding: 100px 0; }
    @media only screen and (max-width: 63.9375em) {
      .intro-cover__wrap {
        padding: 0; }
        .intro-cover__wrap .hide-on-bothTM {
          display: none !important; } }

body.active {
  overflow-y: hidden; }

.banner {
  padding-top: 80px;
  padding-bottom: 0; }
  .banner-slider {
    position: relative;
    --width-slider: -50px; }
    .banner-slider .swiper-button-next::after, .banner-slider .swiper-button-prev::after {
      display: none; }
    @media only screen and (max-width: 63.9375em) {
      .banner-slider .swiper-button-next, .banner-slider .swiper-button-prev {
        display: none; }
        .banner-slider .swiper-button-next .hide-on-bothTM, .banner-slider .swiper-button-prev .hide-on-bothTM {
          display: none !important; } }
    .banner-slider .swiper-button-next {
      right: var(--width-slider); }
    .banner-slider .swiper-button-prev {
      left: var(--width-slider); }
    .banner-slider .swiper-scrollbar {
      display: none; }
      @media only screen and (max-width: 63.9375em) {
        .banner-slider .swiper-scrollbar {
          margin-top: 20px;
          position: relative;
          display: block;
          background: #232323; }
          .banner-slider .swiper-scrollbar .hide-on-bothTM {
            display: none !important; } }
      @media only screen and (max-width: 63.9375em) {
        .banner-slider .swiper-scrollbar-drag {
          background: #499513;
          height: 5px; }
          .banner-slider .swiper-scrollbar-drag .hide-on-bothTM {
            display: none !important; } }
    .banner-slider a {
      background-image: none !important; }
    .banner-slider__item {
      border-radius: 18px;
      position: relative;
      padding-top: 57%;
      overflow: hidden; }
      .banner-slider__item > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; }
      @media only screen and (max-width: 63.9375em) {
        .banner-slider__item {
          border-radius: 8px; }
          .banner-slider__item .hide-on-bothTM {
            display: none !important; } }
