.banner {
    position: relative;
    margin-top: -117px;
    min-height: 100vh;

    @include responsive_fitLow {
        margin-top: -80px;
    }

    &.special {
        margin-top: 0;
        min-height: auto;

        &::after {
            position: absolute;
            z-index: -1;
            content: "";
            left: 0;
            top: 50%;
            width: 100%;
            height: 100%;
            transform: translateY(-50%);
            background: linear-gradient(
                180deg,
                #fff 0.12%,
                #dcffdd 54.11%,
                rgba(251, 251, 251, 0.79) 77.75%,
                rgba(255, 255, 255, 0) 97.22%
            );
        }
    }

    &-bg,
    &-sub {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;

        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.4s;
    }

    &-bg {
        width: 98%;
        height: 100%;
        background-position: left bottom;

        @include responsive_bigLow {
            width: 94%;
        }

        @include responsive_fit {
            width: 90%;
        }

        @include responsive_fitLow {
            width: 96%;
        }
    }

    // &-sub {
    //     width: 69%;
    //     height: 88%;
    //     z-index: 1;

    //     background-position: left bottom;
    // }

    &-wrapper {
        padding-top: 200px;

        @include responsive_fit {
            padding-top: 174px;
        }

        @include responsive_fitLow {
            padding-top: 134px;
        }
    }

    &-slide {
        position: relative;
        z-index: 10;
        width: 62%;
        margin: 0 auto;

        .swiper {
            &-slide {
                &-active {
                    .banner-item {
                        opacity: 1;
                        transform: translateX(0);

                        &__info,
                        &__img {
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }
                }
            }

            &-pagination {
                margin-top: 90px;

                @include responsive_fitLow {
                    margin-top: 42px;
                }

                &-bullet {
                    transition: all 0.3s;
                    opacity: 1;
                    background: #4ef64f;

                    &-active {
                        width: 11px;
                        height: 11px;
                        background-color: #fff;
                    }
                }
            }
        }
    }

    &-item {
        position: relative;
        z-index: 10;
        @include flexBox(bottom);
        justify-content: center;

        opacity: 0;
        transform: translateX(-50%);
        transition:
            opacity 0.5s,
            transform 0.5s;

        &.special {
            align-items: center;

            .banner-item__img.special {
                & > img {
                    @include responsive_fitLow {
                        max-width: 296px;
                    }
                }
            }
        }

        &__sub {
            color: #fff;
            font-size: 40px;
            line-height: 1.2;

            @include responsive_fitLow {
                font-size: 36px;
            }

            & > span {
                display: inline-block;
                font-size: 110px;
                font-family: $font-special;
                font-weight: 900;
                line-height: 0.9;

                @include responsive_fitLow {
                    font-size: 92px;
                }
            }

            &.special {
                font-weight: 400;

                @include responsive_fitLow {
                    font-size: 30px;
                }

                & > span {
                    font-family: $font-main;
                    font-weight: 700;

                    @include responsive_fitLow {
                        font-size: 100px;
                    }
                }
            }
        }

        &__text {
            @include flexBox(bottom);
            font-size: 26px;
            line-height: 0.7;
            color: #fff;

            @include responsive_fitLow {
                font-size: 22px;
            }

            &.special {
                font-size: 38px;
                justify-content: flex-end;
                line-height: 1.2;

                @include responsive_fitLow {
                    font-size: 32px;
                    margin-top: 4px;
                }
            }

            & > span {
                margin-left: 5px;
                display: block;
                font-size: 38px;

                @include responsive_fitLow {
                    font-size: 34px;
                }
            }
        }

        &__title {
            color: #fff;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 47px;
            margin-top: 2px;

            @include responsive_fitLow {
                font-size: 42px;
            }

            &.special {
                margin-top: 0px;
                text-align: right;
                font-size: 70px;
                font-weight: 700;

                line-height: 1;
                letter-spacing: -3px;
                text-transform: none;

                @include responsive_fitLow {
                    font-size: 54px;
                }
            }
        }

        &__img {
            margin-left: 280px;

            opacity: 0;
            transform: translateX(170%);
            transition:
                opacity 0.5s,
                transform 0.5s;

            @include responsive_fit {
                height: 338px;
                margin-left: 266px;
            }

            @include responsive_fitLow {
                height: auto;
                margin-left: 144px;
            }

            & > img {
                width: 100%;
                height: 100%;

                @include responsive_fitLow {
                    max-width: 260px;
                }
            }

            &.special {
                margin-left: 160px;

                @include responsive_fitLow {
                    margin-left: 100px;
                }

                & > img {
                    max-height: 438px;

                    @include responsive_fitLow {
                        max-width: 250px;
                    }
                }
            }
        }

        &__info {
            opacity: 0;
            transform: translateX(-170%);
            transition:
                opacity 0.5s,
                transform 0.5s;
        }

        &__cover {
            @include flexBox(hor);
            align-items: flex-end;
            flex-direction: column;
        }

        &__map {
            &:first-child {
                & > img {
                    max-width: 416px;

                    @include responsive_fitLow {
                        max-width: 334px;
                    }
                }
            }

            & + & {
                margin-top: -30px;

                & > img {
                    max-height: 290px;

                    @include responsive_fitLow {
                        max-height: 234px;
                    }
                }
            }
        }
    }

    &-product {
        min-height: 50vh;

        &__slide {
            max-width: 1920px;
            margin: 0 auto;

            .swiper-slide {
                &-active {
                    .banner-product {
                        opacity: 1;
                        transform: translateX(0);

                        &__sub {
                            opacity: 1;
                            transform: translateX(0);
                        }

                        &__main {
                            opacity: 1;
                            transform: translate(-50%, -50%) !important;
                        }
                    }
                }
            }
        }

        &__item {
            position: relative;
            max-width: 40%;
            margin: 0px auto;
            padding: 162px 0;

            @include responsive_bigLow {
                max-width: 48%;
            }

            @include responsive_fit {
                max-width: 52%;
                padding: 120px 0;
            }

            @include responsive_fitLow {
                padding: 102px 0;
            }
        }

        &__sub {
            @include flexBox(bothSides);
            opacity: 0;
            transform: translateX(180%);
            transition:
                opacity 0.5s,
                transform 0.8s;
        }

        &__main {
            opacity: 0;
            transform: translate(180%, -50%) !important;
            transition:
                opacity 0.5s,
                transform 0.8s;

            @include responsive_fitLow {
                transform: translate(170%, -50%) !important;
            }

            @include responsive_HD {
                transform: translate(150%, -50%) !important;
            }
        }

        .swiper-pagination {
            min-height: 12px;

            &-bullet {
                background-color: #cfcfcf;
                opacity: 1;
                margin: 0 6px !important;
                transition: all 0.5s;

                &-active {
                    width: 12px;
                    height: 12px;
                    background-color: #19af1a;
                }
            }
        }
    }

    &-contact {
        height: 1110px;
        background-repeat: no-repeat;
        background-size: cover;

        @include responsive_alway {
            height: 920px;
        }

        @include responsive_big16 {
            height: 760px;
        }

        @include responsive_HD {
            height: 680px;
        }

        @include responsive_Change {
            height: 600px;
        }

        &__wrap {
            padding-top: 308px;

            @include responsive_big16 {
                padding-top: 150px;
            }

            @include responsive_HD {
                padding-top: 120px;
            }

            @include responsive_Change {
                padding-top: 80px;
            }
        }

        &__text {
            width: 42%;
            color: #fff;
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 30px;

            @include responsive_big16 {
                width: 50%;
                font-size: 20px;
            }

            @include responsive_HD {
                font-size: 17px;
            }
        }
    }
}
