.blog {
    &-wrapper {
        padding: 30px 0 0;
    }

    &-header {
        margin-bottom: 50px;

        @include responsive_fit {
            margin-bottom: 25px;
        }

        &__title {
            color: $color-main;
            font-size: 72px;
            font-weight: 900;
            line-height: normal;
            text-transform: uppercase;

            @include responsive_fit {
                font-size: 50px;
            }

            @include responsive_HD {
                font-size: 32px;
            }
        }

        &__category {
            color: $color-main;
            font-size: 41px;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;

            @include responsive_fit {
                font-size: 28px;
            }

            @include responsive_HD {
                font-size: 24px;
            }
        }
    }

    &-list {
        @include gridBox(4, 40px, 40px);

        @include responsive_fit {
            gap: 30px 30px;
        }

        @include responsive_HD {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &-desc + &-list {
        margin-top: 50px;

        @include responsive_fitLow {
            margin-top: 40px;
        }
    }

    &-item {
        &.special {
            @include flexBox(hor);

            .blog-item {
                &__img {
                    min-width: 45%;
                    padding-top: 39%;
                }

                &__text {
                    margin: 0 0 0 29px;

                    @include responsive_fit {
                        margin: 0 0 0 15px;
                    }
                }

                &__title {
                    @include lineDot(3);
                }

                &__sub {
                    @include responsive_fit {
                        @include lineDot(4);
                    }

                    @include responsive_HD {
                        @include lineDot(3);
                    }
                }
            }
        }

        &__img {
            @include imgPT(81%);
            border-radius: 25px;
        }

        &__text {
            margin-top: 36px;

            @include responsive_fit {
                margin-top: 25px;
            }
        }

        &__title {
            color: $color-main;
            font-size: 20px;
            font-weight: 700;

            @include lineDot(2);
            line-height: normal;
            margin-bottom: 15px;

            @include responsive_fit {
                margin-bottom: 8px;
                font-size: 16px;
            }
        }

        &__sub {
            color: #575757;
            text-align: justify;
            font-family: $font-sub;

            @include lineDot(5);
            font-size: 18px;
            font-weight: 400;
            line-height: normal;

            @include responsive_fit {
                font-size: 16px;
            }
        }
    }

    &-cover {
        @include flexBox(top);
    }

    &-detail {
        width: 70%;

        &__title {
            color: $color-main;
            font-size: 42px;
            font-weight: 900;

            line-height: normal;
            margin-bottom: 32px;

            @include responsive_fit {
                font-size: 28px;
            }

            @include responsive_HD {
                font-size: 24px;
            }
        }

        &__content * {
            all: revert;
        }

        &__content {
            img {
                width: 100%;
                height: auto;
            }
        }

        &__source {
            color: $color-main;
            font-family: $font-sub;
            font-size: 18px;
            font-weight: 700;

            line-height: normal;
            text-align: right;
            margin-top: 20px;

            @include responsive_fit {
                font-size: 16px;
            }
        }
    }

    &-sidebar {
        width: 33%;

        &__list {
            @include gridBox(1, 38px, 38px);

            @include responsive_fit {
                gap: 25px 25px;
            }
        }
    }

    &-detail + &-sidebar {
        margin-left: 45px;

        @include responsive_big16 {
            margin-left: 25px;
        }
    }

    &-slider {
        margin-bottom: 70px;

        @include responsive_fit {
            margin-bottom: 40px;
        }

        &__title {
            color: $color-main;
            font-size: 33px;
            font-weight: 900;

            text-transform: uppercase;
            line-height: normal;
            margin-bottom: 70px;

            @include responsive_fit {
                font-size: 24px;
                margin-bottom: 30px;
            }

            @include responsive_HD {
                font-size: 20px;
                margin-bottom: 25px;
            }
        }
    }
}
