.collaborate {
    margin-top: 100px;

    &-header {
        margin-bottom: 53px;

        &__title {
            font-size: 46px;
            line-height: 1.1;
            font-weight: 400;
            color: $color-main;

            @include responsive_fitLow {
                font-size: 30px;
            }

            & > span {
                font-weight: 800;
                text-transform: uppercase;
            }
        }

        &__bottom {
            @include flexBox(hor);
        }

        &__desc {
            position: relative;
            display: inline-block;
            font-style: italic;
            font-weight: 500;
            font-size: 20px;

            color: $color-main;
            max-width: 700px;
            line-height: 1.3;
            margin-left: 58px;

            @include responsive_fitLow {
                font-size: 18px;
            }

            & > i {
                font-weight: 800;
            }

            &::after {
                position: absolute;
                content: "";
                top: 50%;
                right: calc(100% + 26px);

                height: 80%;
                width: 2px;
                transform: translateY(-50%) rotate(14deg);
                background-color: $color-main;
            }
        }
    }

    &-item {
        position: relative;
        padding: 0 22px 14px;

        @include responsive_fitLow {
            padding: 0 10px 14px;
        }

        &__logo {
            position: relative;
            padding-top: 92%;

            overflow: hidden;
            border-radius: 32px;
            border: 3px solid #d6d6d6;
            background-color: #fff;

            & > img {
                position: absolute;
                top: 0;
                height: 100%;

                left: 50%;
                width: 80%;
                transform: translateX(-50%);
                object-fit: contain;
            }
        }

        &__box {
            position: absolute;
            z-index: -1;
            bottom: 1px;
            left: 50%;

            width: 310px;
            height: 24px;
            border-radius: 317px;
            transform: translateX(-50%);
            background: radial-gradient(50.18% 50% at 50.1% 50%, rgba(44, 44, 44, 0.51) 0%, rgba(87, 87, 87, 0) 98.44%);

            @include responsive_fitLow {
                width: 190px;
            }
        }
    }
}
