.estimate {
    margin-top: 100px;

    &-header {
        position: relative;
        text-align: center;
        color: $text-main;
        @include flexBox(hor);
        flex-direction: column;

        &__title {
            position: relative;
            font-size: 28px;
            font-weight: 600;

            @include responsive_fit {
                font-size: 26px;
            }

            @include responsive_fitLow {
                font-size: 24px;
            }

            &::after {
                position: absolute;
                z-index: -1;
                content: "";
                right: 20px;
                top: 50%;

                width: 252px;
                height: 248px;

                background-repeat: no-repeat;
                background-image: $estimate-bg-header;
                transform: translate(50%, -50%);

                @include responsive_fitLow {
                    width: 212px;
                    height: 208px;
                    background-size: contain;
                }
            }

            & > span {
                font-size: 69px;
                font-weight: 900;
                line-height: 1.2;
                color: $color-main;
                text-transform: uppercase;

                @include responsive_fit {
                    font-size: 62px;
                }

                @include responsive_fitLow {
                    font-size: 58px;
                }

                @include responsive_HD {
                    font-size: 55px;
                }
            }
        }

        &__sub {
            margin-left: 52px;
            font-size: 53px;
            font-weight: 500;
            line-height: 1;
            text-transform: uppercase;

            @include responsive_fit {
                margin-top: 4px;
                font-size: 45px;
            }

            @include responsive_fitLow {
                font-size: 40px;
                margin-top: 6px;
            }
        }
    }

    &-list {
        margin-top: 100px;
        @include gridBox(4, 78px, 55px);

        @include responsive_fit {
            margin-top: 82px;
            gap: 78px 42px;
        }
    }

    &-item {
        text-align: center;
        @include flexBox(hor);
        flex-direction: column;

        & > svg {
            min-height: 52px;
        }

        &__title {
            font-size: 31px;
            font-weight: 700;
            color: $color-main;

            @include responsive_fit {
                font-size: 27px;
            }
        }

        &__desc,
        &__info {
            margin-top: 17px;
        }
    }
}
