.reference {
    position: relative;
    margin-top: -250px;

    @include responsive_fit {
        margin-top: -174px;
    }

    @include responsive_fitLow {
        margin-top: -110px;
    }

    &.special {
        width: 97%;
        margin: 120px auto 0;

        .reference-cover {
            position: relative;
            padding: 0 8px;

            @include responsive_big16 {
                padding: 0 10px;
            }

            @include responsive_fit {
                padding: 0 7px;
            }
        }
    }

    & > .container-fluid {
        @include responsive_fitMinLow {
            padding-right: 0;
        }
    }

    &-wrapper {
        min-height: 500px;

        @include responsive_fitLow {
            min-height: auto;
        }
    }

    &-slide {
        position: relative;
        z-index: 11;

        &__sub {
            padding: 0 65px !important;
        }

        .swiper-slide {
            &:nth-child(2n) {
                .reference-item {
                    &__img {
                        background-position: right;
                        right: 0px;
                        left: auto;
                    }
                }
            }
        }
    }

    &-item {
        position: relative;
        color: #fff;
        text-align: center;
        overflow: hidden;

        padding-bottom: 50px;
        margin-bottom: 20px;
        border-radius: 46px;
        background-color: $color-main;

        @include responsive_fitLow {
            padding-bottom: 38px;
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

            &::before {
                opacity: 1;
            }

            .reference-item {
                &__info {
                    color: $color-main;
                }

                &__img {
                    opacity: 0;
                    height: 173%;
                    width: 184%;
                }

                &__edge {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }

        &::before {
            position: absolute;
            content: "";
            z-index: 1;
            bottom: 0;
            left: 0;

            height: 46%;
            width: 100%;
            opacity: 0;
            transition: opacity 0.3s;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 37.95%, #fff 96.39%);
        }

        &::after {
            position: absolute;
            content: "";
            inset: 0px;
            border-radius: 46px;
            border: 2px solid rgba(255, 255, 255, 0.56);
        }

        &__sub {
            font-size: 24px;

            @include responsive_fitLow {
                font-size: 22px;
            }
        }

        &__title {
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;

            @include responsive_bigLow {
                font-size: 26px;
            }

            @include responsive_fitLow {
                font-size: 23px;
                margin-top: 3px;
            }
        }

        &__info {
            position: relative;
            z-index: 2;
            user-select: none;
            padding: 40px 20px 0;
            transition: all 0.3s linear;

            @include responsive_bigLow {
                padding: 40px 18px 0;
            }

            @include responsive_fitLow {
                padding: 22px 18px 0;
            }
        }

        &__banner {
            position: relative;
            height: 426px;

            @include responsive_bigLow {
                padding-top: 146%;
                height: auto;
            }

            @include responsive_fitLow {
                padding-top: 128%;
            }
        }

        &__edge {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;

            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity 0.8s;
        }

        &__img {
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;

            background-repeat: no-repeat;
            background-size: contain;
            background-position: left;
            opacity: 1;

            transition:
                height 0.6s,
                width 0.6s,
                opacity 0.8s;
        }

        &__bg {
            position: absolute;
            z-index: -1;
            top: 97%;
            left: 50%;
            width: 100%;
            height: 40px;

            transform: translateX(-50%);
            background-repeat: no-repeat;
            background-position: center;
            background-image: $reference-bg;

            @include responsive_fitLow {
                top: 96%;
                height: 27px;
                background-size: cover;
            }
        }
    }

    &-cover {
        position: relative;
        padding: 0 20px;
    }
}
