.banner {
    position: relative;
    margin-top: -198px;
    min-height: 954px;
    overflow: hidden;

    &.special {
        margin-top: 0;
        min-height: auto;

        ::after,
        &::before {
            display: none;
        }

        // &::after {
        //     position: absolute;
        //     z-index: -1;
        //     content: "";
        //     left: 0;
        //     top: 50%;
        //     width: 100%;
        //     height: 100%;
        //     transform: translateY(-50%);
        //     background: linear-gradient(
        //         180deg,
        //         #fff 0.12%,
        //         #dcffdd 54.11%,
        //         rgba(251, 251, 251, 0.79) 77.75%,
        //         rgba(255, 255, 255, 0) 97.22%
        //     );
        // }
    }

    &-bg,
    &-sub {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;

        background-repeat: no-repeat;
        background-size: cover;
        transition: all 0.4s;
    }

    &-bg {
        width: 97%;
        height: 100%;
        background-position: left bottom;
    }

    // &::after,
    // &::before {
    //     position: absolute;
    //     content: "";

    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }

    // &::before {
    //     width: 1329px;
    //     height: 954px;
    //     left: 25px;
    //     bottom: 0;

    //     background-position: right bottom;
    //     background-image: $banner-bg-before;
    // }

    // &::after {
    //     width: 980px;
    //     height: 821px;
    //     z-index: 1;

    //     top: 0;
    //     left: 180px;

    //     background-position: left bottom;
    //     background-image: $banner-bg-after;
    // }

    &-wrapper {
        margin-top: 240px;
        position: relative;
        z-index: 2;
    }

    &-slide {
        .swiper {
            &-slide {
                &-active {
                    .banner-item {
                        opacity: 1;
                        transform: translateX(0);

                        &__info,
                        &__img {
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }
                }
            }

            &-pagination {
                position: relative;
                margin-top: 40px;

                &-bullet {
                    width: 9px;
                    height: 9px;
                    background-color: #4ef64f;
                    margin: 0 5px 1px !important;
                    opacity: 1;

                    &-active {
                        width: 11px;
                        height: 11px;
                        background-color: #fff;
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }

    &-item {
        padding: 0px 36px;

        opacity: 0;
        transform: translateX(-50%);
        transition:
            opacity 0.5s,
            transform 0.5s;

        &.special {
            padding: 0px 20px 0 47px;

            &-left {
                padding: 58px 34px 0 88px;

                .banner-item {
                    &__sub {
                        font-size: 25px;

                        & > span {
                            font-size: 59px;
                            font-weight: 700;
                            font-family: $font-main;
                        }
                    }

                    &__info {
                        margin: 0px 0 24px auto;
                        text-align: right;
                    }

                    &__title {
                        text-transform: none;
                        font-weight: 700;
                    }

                    &__text {
                        margin-top: 4px;
                        justify-content: flex-end;
                    }
                }
            }

            .banner-item__info {
                width: 92%;
            }
        }

        &.special-left,
        &.special {
            .banner-item__img::after {
                display: none;
            }
        }

        &__sub {
            color: #fff;
            font-size: 38px;
            line-height: 1.2;

            & > span {
                display: inline-block;
                font-size: 95px;
                font-family: $font-special;
                font-weight: 900;
                line-height: 0.9;
            }
        }

        &__text {
            @include flexBox(bottom);
            font-size: 24px;
            line-height: 0.8;
            color: #fff;

            @include responsive_small {
                font-size: 18px;
            }

            & > span {
                margin-left: 5px;
                display: block;
                font-size: 36px;
            }
        }

        &__title {
            color: #fff;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 44px;
            margin-top: 2px;
        }

        &__img {
            margin-bottom: 20px;
            position: relative;
            @include flexBox(both);

            opacity: 0;
            transform: translateX(100%);
            transition:
                opacity 0.5s,
                transform 0.5s;

            & > img {
                max-height: 364px;

                @include responsive_small {
                    max-height: 356px;
                }
            }

            &::after {
                position: absolute;
                content: "";
                bottom: -21px;
                left: 50%;
                z-index: -1;
                height: 40px;
                width: calc(100% + 145px);

                transform: translateX(-50%);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: $sample-box;
            }

            &.special {
                & > img {
                    max-height: 276px;
                }
            }
        }

        &__info {
            opacity: 1;
            transform: translateX(-100%);
            transition:
                opacity 0.5s,
                transform 0.5s;

            width: 85%;
            margin: auto;

            @include responsive_small {
                width: 90%;
            }
        }

        &__cover {
            @include flexBox(hor);
            align-items: flex-end;
            flex-direction: column;
        }

        &__map {
            &:first-child {
                display: flex;
                justify-content: end;
                & > img {
                    max-width: 88%;
                }
            }

            & + & {
                margin-top: -14px;

                & > img {
                    max-height: 320px;
                }
            }
        }
    }

    &-product {
        min-height: 50vh;

        &__slide {
            .swiper-slide {
                &-active {
                    .banner-product {
                        opacity: 1;
                        transform: translateX(0);

                        &__sub {
                            opacity: 1;
                            transform: translateX(0);
                        }

                        &__main {
                            opacity: 1;
                            transform: translate(-50%, -50%) !important;
                        }
                    }
                }
            }
        }

        &__item {
            position: relative;
            max-width: 100%;
            margin: 0px auto;
            padding: 100px 0;
        }

        &__sub {
            @include flexBox(bothSides);
            opacity: 0;
            transform: translateX(180%);
            transition:
                opacity 0.5s,
                transform 0.8s;
        }

        &__main {
            opacity: 0;
            transform: translate(2%, -50%) !important;
            transition:
                opacity 0.5s,
                transform 0.8s;
        }

        .swiper-pagination {
            min-height: 12px;

            &-bullet {
                background-color: #cfcfcf;
                opacity: 1;
                margin: 0 6px !important;
                transition: all 0.5s;

                &-active {
                    width: 12px;
                    height: 12px;
                    background-color: #19af1a;
                }
            }
        }
    }

    &-contact {
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: right;

        @include responsive_table {
            height: 350px;
        }

        @include responsive_mobile {
            height: 1050px;
        }

        @include responsive_small {
            height: 950px;
        }

        &__wrap {
            @include responsive_table {
                padding-top: 45px;
            }

            @include responsive_mobile {
                padding-top: 125px;
            }
        }

        &__text {
            width: 100%;
            color: #fff;
            font-size: 17px;
            font-weight: 400;
            padding: 0 15px;

            @include responsive_table {
                margin-bottom: 0;
            }

            @include responsive_mobile {
                margin-bottom: 520px;
            }

            @include responsive_small {
                margin-bottom: 400px;
            }
        }
    }
}
