.estimate {
    margin-top: 100px;

    &-header {
        position: relative;
        text-align: center;
        color: $text-main;
        @include flexBox(hor);
        flex-direction: column;

        &__title {
            position: relative;
            font-size: 28px;
            font-weight: 600;
            text-transform: uppercase;

            @include responsive_small {
                font-size: 27px;
            }

            &::after {
                position: absolute;
                z-index: -1;
                content: "";
                right: 65px;
                top: 50%;

                width: 200px;
                height: 200px;

                background-size: contain;
                background-repeat: no-repeat;
                background-image: $estimate-bg-header;
                transform: translate(50%, -50%);
            }

            & > span {
                display: block;
                font-size: 53px;
                font-weight: 900;
                line-height: 1.2;
                color: $color-main;
                text-transform: uppercase;

                @include responsive_small {
                    font-size: 48px;
                }
            }
        }

        &__sub {
            font-size: 40px;
            font-weight: 500;
            line-height: 1;
            text-transform: uppercase;
            margin-top: 6px;

            @include responsive_small {
                font-size: 32px;
            }
        }
    }

    &-slide {
        margin-top: 84px;
    }

    &-item {
        text-align: center;
        @include flexBox(hor);
        flex-direction: column;

        & > svg {
            min-height: 52px;
        }

        &__title {
            font-size: 27px;
            font-weight: 700;
            color: $color-main;

            @include responsive_small {
                font-size: 24px;
            }
        }

        &__desc,
        &__info {
            margin-top: 17px;
        }
    }
}
