.explain {
    padding: 20px 0 30px;

    &-content {
        position: relative;
        @include flexBox(both);
        flex-direction: column;
        color: $color-main;
        text-align: center;
        margin: 60px 0 80px;
        text-transform: uppercase;
        line-height: 1;

        &__sub {
            font-size: 33px;
        }

        &__name {
            font-size: 82px;
            font-weight: 900;
            margin-bottom: 6px;
        }

        &__icon {
            position: absolute;
            z-index: -1;
            top: 36%;
            left: 50%;
            width: 100%;
            @include flexBox(both);
            transform: translate(-50%, -50%);
        }
    }

    &-item {
        margin-top: 28px;
    }

    &-info {
        @include flexBox(hor);
        color: $color-main;
        font-weight: 900;

        &__number {
            font-size: 58px;
            font-style: italic;
            margin-right: 20px;
            line-height: 1.1;
            min-width: 36px;
        }

        &__text {
            font-size: 20px;
            line-height: 1.4;
        }
    }
}
