.reference {
    position: relative;

    &.special {
        width: 97%;
        margin: 54px auto;

        & > .container-fluid {
            padding: 0;
        }

        .reference-cover {
            position: relative;
            padding: 0 8px;

            @include responsive_big16 {
                padding: 0 10px;
            }

            @include responsive_fit {
                padding: 0 7px;
            }
        }
    }

    &-wrapper {
        min-height: 430px;
    }

    &-slide {
        position: relative;
        z-index: 11;

        &__sub {
            padding: 0;
        }

        .swiper-slide {
            &:nth-child(2n) {
                .reference-item {
                    &__img {
                        background-position: right;
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    }

    &-item {
        position: relative;
        color: #fff;
        text-align: center;
        overflow: hidden;

        padding-bottom: 30px;
        border-radius: 46px;
        margin-bottom: 20px;
        background-color: $color-main;

        &::after {
            position: absolute;
            content: "";
            inset: 0px;
            border-radius: 46px;
            border: 2px solid rgba(255, 255, 255, 0.56);
        }

        &__sub {
            font-size: 22px;
        }

        &__title {
            font-size: 25px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__info {
            padding: 25px 10px 0;
        }

        &__banner {
            position: relative;
            height: 369px;
        }

        &__img {
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;

            background-repeat: no-repeat;
            background-size: contain;
            background-position: left;
        }

        &__bg {
            position: absolute;
            z-index: -1;
            top: 97%;
            left: 50%;
            width: 100%;
            height: 30px;

            background-size: cover;
            transform: translateX(-50%);
            background-repeat: no-repeat;
            background-position: center;
            background-image: $reference-bg;
        }
    }

    &-cover {
        position: relative;
        padding: 0 12px;
    }
}
