.sample {
    margin-top: 75px;

    &.special {
        margin-top: 30px;
    }

    &-wrapper {
        margin: 0 6px;
        padding: 23px 0 29px;
        border-radius: 41.534px;
        background: rgba($color: #ceffce, $alpha: 0.71);

        &.special {
            margin: 0;
            padding-top: 0;
            background: transparent;
        }
    }

    &-header {
        margin-bottom: 28px;
    }

    &-item {
        padding: 37px 10px 41px;

        &.special {
            .sample-image {
                &__right,
                &__main {
                    position: relative;
                    z-index: 1;

                    &::after {
                        position: absolute;
                        content: "";
                        top: calc(100% - 8px);
                        left: 50%;
                        z-index: -1;

                        height: 18px;
                        width: 141px;
                        transform: translateX(-50%);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-image: $sample-box;
                    }
                }

                &__main {
                    z-index: 2;
                }

                &__left {
                    position: relative;
                    z-index: 10;

                    &::after {
                        position: absolute;
                        content: "";
                        bottom: -10px;
                        left: 50%;
                        z-index: -1;

                        height: 20px;
                        width: 190px;
                        transform: translateX(-50%);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-image: $sample-box;
                    }
                }
            }
        }

        &__info {
            text-align: center;
            margin-top: 10px;
        }

        &__title,
        &__name {
            color: $color-main;
            font-weight: 900;
        }

        &__title {
            font-size: 25px;
            text-transform: uppercase;
        }

        &__name {
            font-size: 16px;
            margin-bottom: 5px;
        }

        &__desc {
            font-size: 15px;
            font-family: $font-sub;
        }
    }

    &-image {
        @include flexBox(both);
        padding-bottom: 10px;

        &__left {
            margin-right: -18px;
        }

        &__right {
            margin-left: -18px;
        }

        &__right,
        &__left {
            position: relative;
            z-index: 1;

            &.special {
                position: relative;
                max-width: 138px;
            }

            &::after {
                position: absolute;
                content: "";
                top: calc(100% - 8px);
                left: 50%;
                z-index: -1;

                height: 18px;
                width: 141px;
                transform: translateX(-50%);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: $sample-box;
            }
        }

        &__main {
            position: relative;
            z-index: 10;

            &.slide {
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: 10;

                width: 162px;
                overflow: hidden;
                border-radius: 22px;
                transform: translate(-50%, -50%);
                transition: width 0.5s;
            }

            &.special {
                width: 262px;
                overflow: visible;

                &::after {
                    position: absolute;
                    z-index: -1;
                    content: "";

                    left: 50%;
                    top: 98%;
                    height: 20px;
                    width: calc(100% + 50px);

                    transform: translateX(-50%);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: $sample-main-box;
                }

                .sample-image__content {
                    height: 370px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }

            &::after {
                position: absolute;
                content: "";
                bottom: -10px;
                left: 50%;
                z-index: -1;

                height: 20px;
                width: 190px;
                transform: translateX(-50%);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: $sample-box;
            }
        }
    }

    &-link {
        position: relative;
        left: 50%;

        color: #fff;
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;

        padding: 6px 40px 5px;
        display: inline-block;
        border-radius: 26px;
        transform: translateX(-50%);
        background-color: $color-main;

        &:hover {
            color: #fff;
        }
    }

    &-pagination {
        margin-top: 80px;
        justify-content: center;

        @include responsive_fit {
            margin-top: 46px;
        }

        &__item {
            & + & {
                margin-left: 42px;
            }

            &.active {
                .sample-pagination__link {
                    background-color: transparent;
                    color: $color-main;
                    font-weight: 900;
                }
            }
        }

        &__link {
            font-size: 27px;
            color: $text-main;
            border: 0;
            padding: 0;

            @include responsive_fit {
                font-size: 24px;
            }

            &.special {
                font-weight: 500;
                font-size: 20px;
            }

            & > span {
                line-height: 0.4;
                font-size: 32px;
            }

            &:hover {
                color: $color-main;
                background-color: transparent;
            }
        }

        &__text {
            border: 0;
            color: $text-main;
            font-size: 27px;
            font-weight: 400;
            list-style: 1;
            padding: 0;
            background-color: transparent;

            &:hover {
                background-color: transparent;
            }
        }
    }

    &-slide {
        padding: 0 60px;
        margin-bottom: 52px;
        position: relative;

        @include responsive_HD {
            padding: 0 52px;
        }

        .sample-item {
            padding: 98px 20px 40px;

            @include responsive_fitLow {
                padding: 98px 6px 40px;
            }
        }
    }
}
